{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tab" role="tablist">

            {% include 'reman/tab_select.html' with select='ecu' %}

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <table class="table table-bordered" id="ecuModelTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Référence OEM Brute</th>
            <th>Référence REMAN</th>
            <th>Module Moteur</th>
            <th>Réf. Hardware</th>
            <th>Fournisseur</th>
            <th>Code barre PSA</th>
            <th>Réf. fournisseur</th>
            <th>Réf. Xelon</th>
        </tr>
        </thead>
        <tbody>

        {% for ecu in ecus %}

            <tr>
                <td class="bg-white">
                    {% if perms.change_ecumodel %}
                        <a href="{% url 'reman:edit_ref_base' ecu.psa_barcode %}" title="Modification" class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                    {% else %}
                        <i class="btn btn-dark btn-circle btn-sm fas fa-edit"></i>
                    {% endif %}
                </td>
                <td>{{ ecu.oe_raw_reference }}</td>
                <td>{{ ecu.ecu_type.ecu_ref_base.reman_reference }}</td>
                <td>{{ ecu.ecu_type.technical_data }}</td>
                <td>{{ ecu.ecu_type.hw_reference }}</td>
                <td>{{ ecu.ecu_type.supplier_oe }}</td>
                <td>{{ ecu.psa_barcode }}</td>
                <td>{{ ecu.former_oe_reference }}</td>
                <td>{{ ecu.ecu_type.spare_part.code_produit }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'reman/js/reman-tables.js' %}"></script>

{% endblock %}