{% extends 'format/detail_small_format.html' %}

{% load i18n %}

{% block detail_content %}

    <div class="p-2">

        {% if ecu %}

            <table class="table table-striped table-condensed mb-5">

                <tbody>

                <tr>
                    <td class="text-dark">Référence REMAN</td>
                    <td>{{ ecu.ecu_ref_base.reman_reference|default:"---" }}</td>
                </tr>
                <tr>
                    <td class="text-dark">Code Produit</td>
                    <td>{{ ecu.spare_part.code_produit|default:"---" }}</td>
                </tr>
                <tr>
                    <td class="text-dark">Code Zone</td>
                    <td>{{ ecu.spare_part.code_zone|default:"---" }}</td>
                </tr>
                <tr>
                    <td class="text-dark">Emplacement</td>
                    <td>{{ ecu.spare_part.code_emplacement|default:"---" }}</td>
                </tr>
                <tr>
                    <td class="text-dark">Cumul Dispo</td>
                    <td>{{ ecu.spare_part.cumul_dispo|default:"0" }}</td>
                </tr>

                </tbody>
            </table>

            <div class="text-center">
                <a class="align-self-center btn btn-primary btn-user"
                   href="{{ request.META.HTTP_REFERER }}">{% trans "Previous page" %}</a>
            </div>

        {% else %}

            <p class="mb-4">Le code barre PSA ci-dessous n'existe pas dans la base de données REMAN.</p>
            <p class="display-4 text-gray-800 text-center mb-4 font-weight-bold">{{ psa_barcode }}</p>
            <p class="mb-5">Veuillez transmettre ce produit au technicien ECU pour qu'il soit ajouté.<br>Cliquez sur le bouton
                <span class="font-weight-bold">Send email</span>, si vous souhaitez envoyer un email automatique à toute la liste ECU.
            </p>

            <div class="text-center">
                <a class="align-self-center btn btn-secondary btn-user"
                   href="{{ request.META.HTTP_REFERER }}">{% trans "Previous page" %}</a>
                <button class="btn btn-primary ml-4" type="button" data-dismiss="modal">{% trans "Send email" %}</button>
            </div>

        {% endif %}

    </div>

{% endblock %}