{% load i18n %}

<li class="nav-item {% if select == 'batch_pending' %}active{% endif %}">
    <a class="nav-link {% if select == 'batch_pending' %}active{% endif %}" href="{% url 'reman:batch_table' %}?filter=pending">
        <span class="font-weight-bold">{% trans "Current batches" %}</span>
    </a>
</li>

<li class="nav-item {% if select == 'batch_etude' %}active{% endif %}">
    <a class="nav-link {% if select == 'batch_etude' %}active{% endif %}" href="{% url 'reman:batch_table' %}?filter=etude">
        {% trans "Etude batches" %}
    </a>
</li>

<li class="nav-item {% if select == 'batch' %}active{% endif %}">
    <a class="nav-link {% if select == 'batch' %}active{% endif %}" href="{% url 'reman:batch_table' %}">
        {% trans "Batch list" %}
    </a>
</li>

<li class="nav-item {% if select == 'repair_pending' %}active{% endif %}">
    <a class="nav-link {% if select == 'repair_pending' %}active{% endif %}" href="{% url 'reman:repair_table' %}?filter=pending">
        <span class="font-weight-bold">{% trans "Current files" %}</span>
    </a>
</li>

<li class="nav-item {% if select == 'repair' %}active{% endif %}">
    <a class="nav-link {% if select == 'repair' %}active{% endif %}" href="{% url 'reman:repair_table' %}">
        {% trans "Customer files" %}
    </a>
</li>

<li class="nav-item {% if select == 'ecu_dump' %}active{% endif %}">
    <a class="nav-link {% if select == 'ecu_dump' %}active{% endif %}" href="{% url 'reman:ecu_dump_table' %}">
        <span class="font-weight-bold">{% trans "ECU to Dump" %}</span>
    </a>
</li>

<li class="nav-item {% if select == 'part' %}active{% endif %}">
    <a class="nav-link {% if select == 'part' %}active{% endif %}" href="{% url 'reman:part_table' %}">
        {% trans "Spare Parts" %}
    </a>
</li>
