{% load inlinecss %}
{% inlinecss 'css/email.css' %}

    <!DOCTYPE html>
    <html lang="fr">

    <body>

    <p> Nombre de contracts à renouveler: {{ obj.count }}</p>
    <p> Vous trouvez ci-dessous la liste des contracts a renouveler.</p>

    <table class="table table-bordered text-nowrap">
        <thead>
        <tr>
            <th>N° ligne Excel</th>
            <th>Service</th>
            <td>Nature du document</td>
            <th>Objet du document</th>
            <th>Fournisseur</th>
            <th>Site</th>
            <th>Date fin</th>
            <th>Contract actif</th>
            <th>Date prévenance</th>
        </tr>
        </thead>
        <tbody>

        {% for row in obj %}

            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.service }}</td>
                <td>{{ row.nature }}</td>
                <td>{{ row.object }}</td>
                <td>{{ row.supplier }}</td>
                <td>{{ row.site }}</td>
                <td>{{ row.end_date|date:"d/m/Y"|default_if_none:"" }}</td>
                <th>{{ row.is_active|yesno:"oui,non" }}</th>
                <td>{{ row.renew_date|date:"d/m/Y"|default_if_none:"" }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <p>Cordialement</p>

    <p>CSD Dashboard</p>

    </body>
    </html>

{% endinlinecss %}