{% load inlinecss %}
{% inlinecss 'css/email.css' %}

    <!DOCTYPE html>
    <html lang="fr">

    <body>

    <table class="table table-bordered text-nowrap">
        <thead>
        <tr>
            <th>Produits à réparer</th>
            <th>Produits en retard</th>
            <th>Produits express</th>
            <th>Produits VIP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ products_to_repair }}</td>
            <td>{{ late_products }}</td>
            <td>{{ express_products }}</td>
            <td>{{ vip_products }}</td>
        </tr>
        </tbody>
    </table>

    <a class="my-2" href="http://{{ domain }}{% url 'dashboard:products' %}?filter={{ filter }}">{{ link_name }}</a>

    {% if filter == "late" %}
        <table class="table table-bordered text-nowrap">
            <thead>
            <tr>
                <th>Activité</th>
                <th>Dossier</th>
                <th>Modèle</th>
                <th>Date In</th>
                <th>Date Exp. Attendue</th>
                <th>Nb jours de retard</th>
                <th>Type de cloture</th>
                <th>Tech</th>
                <th>Animateur d'ilot</th>

            </tr>
            </thead>
            <tbody>

            {% include 'dashboard/format/lp_tr_email.html' with prods=psa activity='Produits PSA' %}

            {% include 'dashboard/format/lp_tr_email.html' with prods=autre activity='Autres produits' %}

            {% include 'dashboard/format/lp_tr_email.html' with prods=clarion activity='Clarion' %}

            {% include 'dashboard/format/lp_tr_email.html' with prods=calc_mot activity='Calculateurs' %}

            {% include 'dashboard/format/lp_tr_email.html' with prods=etude activity='Etude' %}

            {% include 'dashboard/format/lp_tr_email.html' with prods=defaut activity='Defaut' %}

            </tbody>
        </table>
    {% endif %}

    <p>Cordialement</p>

    <p>CSD Dashboard</p>

    </body>
    </html>

{% endinlinecss %}
