{% extends 'format/detail_format.html' %}

{% load static i18n corvet_tags %}

{% block header %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ corvet.vin }} - {{ corvet.donnee_marque_commerciale|get_corvet:"DON_MAR_COMM" }} {{ corvet.donnee_ligne_de_produit|get_corvet:"DON_LIN_PROD" }} {{ corvet.donnee_silhouette|get_corvet:"DON_SIL" }}</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger create-suptech shadow-sm">
            <i class="fas fa-radiation fa-sm text-white-50"></i> Support Tech</a>
    </div>

{% endblock %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="detail-list" role="tablist">

            {% include 'tab_select.html' with name='prods' tab_title="Info produits" %}

            {% include 'tab_select.html' with name='vehicle' tab_title="Info Véhicule" %}

            <li class="nav-item">
                <a class="nav-link" href="#corvet" role="tab" aria-controls="corvet" aria-selected="false">
                    {% trans "Raw Corvet data" %}
                </a>
            </li>

            {% if 'NAC' in corvet.btel.get_name_display %}
                <li class="nav-item">
                    <a class="nav-link" href="#nac" role="tab" aria-selected="false">
                        {% trans "Info NAC" %}
                    </a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="#" role="tab" data-toggle="modal" data-target="#vinModal"
                   aria-selected="false">
                    {% trans "VIN Barcode" %}
                </a>
            </li>

        </ul>
    </div>

{% endblock %}

{% block customcss %}

    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block detail_content %}

    <div class="tab-content mt-3">

        <!-- Detail Info produits -->
        <div class="tab-pane {% if select == 'prods' %}active{% endif %}" id="prods" role="tabpanel"
             aria-labelledby="prods-tab">

            {% include 'psa/detail/detail_corvet.html' %}

        </div>

        <!-- Detail Info véhicule -->
        <div class="tab-pane {% if select == 'vehicle' %}active{% endif %}" id="vehicle" role="tabpanel"
             aria-labelledby="vehicle-tab">

            {% include 'psa/detail/detail_vehicle.html' %}

        </div>

        <!-- Detail Corvet -->
        <div class="tab-pane" id="corvet" role="tabpanel" aria-labelledby="corvet-tab">

            {% include 'psa/format/corvet_brut_table_format.html' with obj=dict_corvet %}

        </div>

        <!-- Info NAC -->
        <div class="tab-pane" id="nac" role="tabpanel" aria-labelledby="nac-tab">

            {% include 'psa/format/nac_info_format.html' with firmware=corvet.btel.firmware uin=corvet.electronique_44x %}

        </div>

    </div>


{% endblock %}

{% block custommodal %}

    <!-- Logout Modal-->
    <div class="modal fade" id="vinModal" tabindex="-1" role="dialog" aria-labelledby="vinModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vinModalLabel">VIN produit :</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div>
                        {% if corvet.donnee_marque_commerciale == "0P" %}
                            {{ corvet.donnee_marque_commerciale|get_corvet:"DON_MAR_COMM" }} {{ corvet.donnee_ligne_de_produit|get_corvet:"DON_LIN_PROD 0" }} {{ corvet.donnee_silhouette|get_corvet:"DON_SIL" }}
                        {% else %}
                            {{ corvet.donnee_marque_commerciale|get_corvet:"DON_MAR_COMM" }} {{ corvet.donnee_ligne_de_produit|get_corvet:"DON_LIN_PROD 1" }} {{ corvet.donnee_silhouette|get_corvet:"DON_SIL" }}
                        {% endif %}
                    </div>
                    <img id="barcode" src="" alt="{{ corvet.vin }}"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript" src="{% static 'js/JsBarcode/JsBarcode.all.min.js' %}"></script>
    <script type="text/javascript">
        JsBarcode("#barcode", "{{ corvet.vin }}", {
            width: 2.2,
            height: 100,
        });
    </script>

{% endblock %}