{% load i18n %}

<div class="row">
    <section class="col-sm-6">
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-800">TELEMATIQUE :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Code barre PSA</td>
                <td>{{ btel.reference }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Modèle</td>
                <td>{{ btel.get_name_display }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Fabriquant</td>
                <td>{{ btel.supplier_oe }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Type</td>
                <td>{{ btel.get_type_display }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Facade</td>
                <td>{{ btel.front }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">DAB</td>
                <td>{% if btel.dab %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Caméra de recul</td>
                <td>{% if btel.cam %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Média</td>
                <td>{{ btel.get_media_display }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-800">PROGRAMMATION :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Dossier PEEDI</td>
                <td>{{ prog.peedi_path }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Dump PEEDI</td>
                <td>{{ prog.peedi_dump }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Dump RENESAS</td>
                <td>{{ prog.renesas_dump }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="col-sm-6">
        <h3 class="text-gray-800">CORVET :</h3>
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h5 class="text-gray-500">Affichage</h5>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Réf HW TDB</td>
                <td>{{ corvet.electronique_14k }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Réf HW EMF</td>
                <td>{{ corvet.electronique_14l }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">SOFT EMF</td>
                <td>{{ corvet.electronique_94l }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série EMF</td>
                <td>{{ corvet.electronique_54l }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h5 class="text-gray-500">Audio</h5>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Réf HW RAD</td>
                <td>{{ corvet.electronique_14f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL RAD</td>
                <td>{{ corvet.electronique_94f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série RAD</td>
                <td>{{ corvet.electronique_44f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Réf HW NAV</td>
                <td>{{ corvet.electronique_14x }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL NAV</td>
                <td>{{ corvet.electronique_94x }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série NAV</td>
                <td>{{ corvet.electronique_44x }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h5 class="text-gray-500">Calculateur</h5>
            </caption>
            <tbody>
            <!-- ECU MOTOR -->
            <tr>
                <td class="text-dark td-ihm">Réf HW ECU moteur</td>
                <td>{{ corvet.electronique_14a }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL ECU moteur</td>
                <td>{{ corvet.electronique_94a }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série ECU moteur</td>
                <td>{{ corvet.electronique_44a }}</td>
            </tr>
            <!-- BSI -->
            <tr>
                <td class="text-dark td-ihm">Réf HW BSI</td>
                <td>{{ corvet.electronique_14b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL BSI</td>
                <td>{{ corvet.electronique_94b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série BSI</td>
                <td>{{ corvet.electronique_44b }}</td>
            </tr>
            <!-- COM200x -->
            <tr>
                <td class="text-dark td-ihm">Réf HW COM200x</td>
                <td>{{ corvet.electronique_16p }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série COM200x</td>
                <td>{{ corvet.electronique_46p }}</td>
            </tr>
            <!-- BSM -->
            <tr>
                <td class="text-dark td-ihm">Réf HW BSM</td>
                <td>{{ corvet.electronique_16b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL BSM</td>
                <td>{{ corvet.electronique_96b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série BSM</td>
                <td>{{ corvet.electronique_46b }}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
