{% load i18n corvet_tags %}

<div class="row">
    <section class="col-sm-6">

        {% if corvet.prods.btel %}
            {% include 'psa/format/multimedia_table_format.html' with object=corvet.prods.btel %}
        {% else %}
            {% include 'psa/format/multimedia_table_format.html' with object=corvet.prods.radio %}
        {% endif %}

        {% include 'raspeedi/format/prog_table_format.html' with object=prog %}

        {% include 'psa/format/emf_table_format.html' with object=corvet.prods.emf %}

        {% include 'psa/format/cmm_table_format.html' with object=cmm %}

        {% include 'psa/format/bsi_table_format.html' with object=corvet.prods.bsi %}

        {% include 'psa/format/hdc_table_format.html' with object=corvet.prods.hdc %}

    </section>
    <section class="col-sm-6">
        <h3 class="text-gray-800">CORVET :</h3>

        {% include 'psa/format/corvet_table_format.html' with object=corvet %}

    </section>
</div>
