{% load i18n corvet_tags %}

<div class="row">
    <section class="col-sm-6">

        {% include 'psa/format/mutimedia_table_format.html' with object=btel %}

        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-800">PROGRAMMATION :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Dossier PEEDI</td>
                <td>{{ prog.peedi_path }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Dump PEEDI</td>
                <td>{{ prog.peedi_dump }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Dump RENESAS</td>
                <td>{{ prog.renesas_dump }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="col-sm-6">
        <h3 class="text-gray-800">CORVET :</h3>

        {% include 'psa/format/corvet_table_format.html' with object=corvet %}

    </section>
</div>
