{% autoescape off %}
Bonjour,

Action(s) réalisée(s) :
{{ suptech.action }}

Statut : {{ suptech.status }}
Date limite : {{ suptech.deadline|default:"---" }}

Détail de la demande :
http://{{ domain }}{% url 'tools:suptech_detail' pk=suptech.pk %}

Si l'action n'a pas résolu le problème, cliquez sur le lien ci-dessous et ajoutez un message :
http://{{ domain }}{% url 'tools:suptech_detail' pk=suptech.pk %}?resolved=false

Cordialement

{{ user.first_name }} {{ user.last_name }}

-----------

Qui: {{ suptech.created_by.email }}
==========================================================
Date: {{ suptech.date }}
==========================================================
Traitement 48h: {% if suptech.is_48h %}OUI{% else %}NON{% endif %}
==========================================================
Catégorie: {{ suptech.category.name }}
==========================================================
N°XELON: {{ suptech.xelon }}
==========================================================
V.I.N.: {{ suptech.get_vin }}
==========================================================
Modèle produit: {{ suptech.product }}
==========================================================
Item: {{ suptech.item|safe|escape }}
==========================================================
Temps={{ suptech.time }}
==========================================================
{{ suptech.info }}
==========================================================
{{ suptech.rmq }}
======================== E.O.Mail =========================
{% endautoescape %}
