{% autoescape off %}
Qui: {{ email }}
==========================================================
Date: {{ suptech.date }}
==========================================================
Traitement 48h: {% if suptech.is_48h %}OUI{% else %}NON{% endif %}
==========================================================
Catégorie: {{ suptech.category.name }}
==========================================================
N°XELON: {{ suptech.xelon }}
==========================================================
V.I.N.: {{ suptech.get_vin }}
==========================================================
Modèle produit: {{ suptech.product }}
==========================================================
Item: {{ suptech.item|safe|escape }}
==========================================================
Temps={{ suptech.time }}
==========================================================
{{ suptech.info }}
==========================================================
{{ suptech.rmq }}
{% if suptech.action %}
==========================================================
Action: {{ suptech.action }}
{% endif %}
======================== E.O.Mail ========================

Détail de la demande :
http://{{ domain }}{% url 'tools:suptech_detail' pk=suptech.pk %}

Répondre :
http://{{ domain }}{% url 'tools:suptech_update' pk=suptech.pk %}
{% endautoescape %}