{% autoescape off %}
Qui: {{ email }}
==========================================================
N°XELON: {{ suptech.xelon }}
==========================================================
Modèle produit: {{ suptech.product }}
==========================================================
Item: {{ suptech.item }}
==========================================================
Temps={{ suptech.time }}
==========================================================
{{ suptech.info }}
==========================================================
{{ suptech.rmq }}
======================== E.O.Mail =========================

Répondre :
http://{{ domain }}{% url 'tools:suptech_update' pk=suptech.pk %}
{% endautoescape %}