{% autoescape off %}
Qui: {{ email }}
==========================================================
N°XELON: {{ suptech.xelon }}
==========================================================
Item: {{ suptech.item }}
==========================================================
Temps={{ suptech.time }}
==========================================================
{{ suptech.info }}
==========================================================
{{ suptech.rmq }}
======================== E.O.Mail =========================
{% endautoescape %}