{% load i18n widget_tweaks %}

{# Django Tempus Dominus assets are included in `{{ form.media }}` #}
{{ form.media }}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">{{ modal_title}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% include 'format/modal_form_format.html' %}

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
    </div>

</form>

<script type="text/javascript">
    $('#id_type').change(function () {
        $.ajax({
            method: "GET",
            url: "{% url 'reman:batch_type_ajax' %}" + "?type=" + $(this).val(),
            success: function (data) {
                console.log(data);
                $('#id_number').attr({'value': data.number});
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });
    });
</script>