{% load i18n widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">{% trans 'Update HW Reference' %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} text-center text-danger text-uppercase mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% include 'format/form_input_format.html' with field_1=form.hw_reference %}

        {% include 'format/form_input_format.html' with field_1=form.technical_data field_2=form.supplier_oe %}

        <hr>

        {% include 'format/form_input_format.html' with field_1=form.ref_cal_out field_2=form.ref_psa_out %}

        {% include 'format/form_input_format.html' with field_1=form.req_diag field_2=form.open_diag %}

        {% include 'format/form_input_format.html' with field_1=form.req_ref field_2=form.ref_mat %}

        {% include 'format/form_input_format.html' with field_1=form.ref_comp field_2=form.req_cal %}

        {% include 'format/form_input_format.html' with field_1=form.cal_ktag field_2=form.req_status %}

        {% include 'format/form_input_format.html' with field_1=form.status field_2=form.test_clear_memory %}

        {% include 'format/form_input_format.html' with field_1=form.cle_appli %}

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
    </div>

</form>