{% extends 'format/datatables_format.html' %}

{% load static i18n tools_extras %}

{% block table_content %}

    <h1 class="display-1 text-gray-800 text-center mb-5 font-weight-bold">Temp :
        <span id="thermal-temp"></span>
    </h1>

    <form class="form-inline" method="post" action="">

        {% csrf_token %}

        <div class="text-danger {% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="form-group mx-sm-3 mb-2">
                <label class="mx-sm-3" for="{{ field.id_for_label }}">{{ field.label }} :</label>
                {{ field }}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success btn-icon-split mb-2 mr-4">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">{% trans "Add" %}</span>
        </button>

        <a class="btn btn-primary btn-icon-split mb-2" href="{% url 'tools:thermal' %}">
            <span class="icon text-white-50"><i class="fas fa-sync"></i></span>
            <span class="text">{% trans "Refresh" %}</span>
        </a>

    </form>

    {% if errors %}
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    {% endif %}

    <hr>

    <table class="table table-bordered" id="thermalActiveTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Utilisateur</th>
            <th>N° Xelon</th>
            <th>Date</th>
            <th>Heure de départ</th>
            <th>Temps passé dans la chambre</th>
            <th>Mode de fonctionnement</th>
        </tr>
        </thead>
        <tbody>

        {% for thermal in thermals %}

            <tr>
                {% if user == thermal.created_by %}
                    {% if not thermal.start_time %}
                        <td>
                            <a href="#" data-form-url="{% url 'tools:thermal_delete' thermal.pk %}" title="Suppression"
                               class="bs-modal btn btn-danger btn-circle btn-sm"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-dark btn-circle btn-sm"><i class="fas fa-check"></i></a>
                        </td>
                    {% else %}
                        <td>
                            <a href="#" class="btn btn-dark btn-circle btn-sm"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'tools:thermal_disable' pk=thermal.pk %}" title="Stop"
                               class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></a>
                        </td>
                    {% endif %}

                {% else %}
                    <td>
                        <a href="#" class="btn btn-dark btn-circle btn-sm"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-dark btn-circle btn-sm"><i class="fas fa-check"></i></a>
                    </td>
                {% endif %}
                <td>{{ thermal.created_by }}</td>
                <td>{{ thermal.xelon_number|default:'---' }}</td>
                <td>{{ thermal.created_at }}</td>
                <td>{{ thermal.start_time|default:'En attente' }}</td>
                <td>{{ thermal|past_time }}</td>
                <td>{{ thermal.operating_mode }}</td>

            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'tools/js/tools-tables.js' %}"></script>

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript" src="{% static 'tools/js/thermal-chamber.js' %}"></script>
    <script type="text/javascript">
        setInterval(`getTemp("{% url 'tools:ajax_temp' %}")`, 5000);
    </script>

{% endblock %}
