{% extends 'format/datatables_format.html' %}

{% load static %}

{% block table_content %}

    <table class="table table-bordered text-nowrap" id="lateProdNewTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Activité</th>
            <th>Dossier</th>
            <th>Modèle</th>
            <th>Date In</th>
            <th>Délai</th>
            <th>Tech</th>

        </tr>
        </thead>
        <tbody>

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=psa activity='Produits PSA' %}

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=autre activity='Autres produits' %}

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=clarion activity='Clarion' %}

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=calc_mot activity='Calculateurs' %}

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=etude activity='Etude' %}

        {% include 'dashboard/late_products/../email_format/lp_tr_format.html' with prods=defaut activity='Defaut' %}

        </tbody>
    </table>

{% endblock %}

{% block tablecss %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'vendor/datatables/Buttons/css/buttons.dataTables.min.css' %}"/>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script src="{% static 'dashboard/js/late-prod-tables.js' %}"></script>

    <script src="{% static 'vendor/datatables/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/JSZip/jszip.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/Buttons/js/buttons.print.min.js' %}"></script>

{% endblock %}