[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
django-debug-toolbar = "*"
django-rename-app = "*"

[packages]
django = ">=3.2.18,<4.0.0"
psycopg2 = "*"
xlrd = "==1.2.0"
pandas = "==1.1.5"
gunicorn = "*"
xlwt = "*"
djangorestframework = "*"
pillow = ">=9.1.0"
selenium = "*"
django-model-utils = "*"
sentry-sdk = "*"
django-bootstrap-modal-forms = "==2.2.1"
django-widget-tweaks = "*"
django-crum = "*"
django-ckeditor = "*"
django-tempus-dominus = "*"
paho-mqtt = "*"
django-inlinecss = "*"
requests = "*"
openpyxl = "*"
celery = "*"
celery-progress = "*"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-searchable-encrypted-fields = "*"
reportlab = "==3.6.13"
wiki = "*"
tzdata = "*"
daphne = "*"
webdriver-manager = "*"
selenium_wire = "*"
update = "*"
chromedriver-autoinstaller = "*"
websockets = "*"
django-constance = {extras = [ "redis",], version = "*"}
