[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
django-debug-toolbar = "*"

[packages]
django = "==3.2.13"
psycopg2 = "*"
xlrd = "==1.2.0"
pandas = "==1.1.5"
gunicorn = "*"
xlwt = "*"
djangorestframework = "*"
pillow = "==9.1.1"
selenium = "==3.141.0"
django-model-utils = "*"
django-bootstrap-modal-forms = "==2.2.0"
django-widget-tweaks = "*"
django-crum = "*"
django-ckeditor = "==6.4.2"
django-tempus-dominus = "*"
paho-mqtt = "*"
django-inlinecss = "*"
requests = "==2.28.0"
openpyxl = "*"
celery = "*"
celery-progress = "*"
redis = "==4.3.3"
django-celery-beat = "*"
django-celery-results = "==2.3.1"
django-searchable-encrypted-fields = "*"
reportlab = "==3.6.10"
wiki = "==0.8.2"
django-constance = "==2.9.0"
django-debug-toolbar = "*"
