[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
django-debug-toolbar = "*"

[packages]
django = ">=3.1.1"
psycopg2 = "*"
xlrd = "==1.2.0"
pandas = "*"
gunicorn = "*"
xlwt = "*"
djangorestframework = "*"
pillow = ">=7.1.0"
selenium = "*"
django-model-utils = "*"
sentry-sdk = "==0.13.2"
django-bootstrap-modal-forms = "*"
django-widget-tweaks = "*"
django-crum = "*"
django-ckeditor = "*"
django-tempus-dominus = "*"
paho-mqtt = "*"
django-constance = {extras = ["database"],version = "*"}
django-inlinecss = "*"
