{% load i18n widget_tweaks %}

<form id="suptechForm" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Demande Support Tech</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} text-center bg-danger text-white text-uppercase font-weight-bold mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        <div class="form-group row">
            <label for="{{ form.username.id_for_label }}" class="col-form-label col-sm-2">QUI *</label>
            <div class="col-sm-4">
                {% render_field form.username class="form-control" %}
                <div class="{% if form.username.errors %} invalid{% endif %}">
                    {% for error in form.username.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.xelon.id_for_label }}" class="col-form-label col-sm-2">N° XELON</label>
            <div class="col-sm-4">
                {% render_field form.xelon class="form-control" %}
                <div class="{% if form.xelon.errors %} invalid{% endif %}">
                    {% for error in form.xelon.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <label for="{{ form.time.id_for_label }}" class="col-form-label col-sm-3">Temps/Durée (en min) *</label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                {% render_field form.time class="form-control" %}
                <div class="{% if form.time.errors %} invalid{% endif %}">
                    {% for error in form.time.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.item.id_for_label }}" class="col-form-label col-sm-2">Objet *</label>
            <div class="col-sm-4 mb-3 mb-sm-0">
                {% render_field form.item class="custom-select form-control" %}
                <div class="{% if form.item.errors %} invalid{% endif %}">
                    {% for error in form.item.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-6 mb-3 mb-sm-0">
                {% render_field form.custom_item class="form-control" %}
                <div class="{% if form.custom_item.errors %} invalid{% endif %}">
                    {% for error in form.custom_item.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.to.id_for_label }}" class="col-form-label col-sm-2">À *</label>
            <div class="col-sm-10 mb-3 mb-sm-0">
                {% render_field form.to class="form-control" %}
                <div class="{% if form.to.errors %} invalid{% endif %}">
                    {% for error in form.to.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.info.id_for_label }}" class="col-form-label col-sm-2">Infos *</label>
            <div class="col-sm-10">
                {% render_field form.info class="form-control" rows=5 %}
                <div class="{% if form.info.errors %} invalid{% endif %}">
                    {% for error in form.info.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.rmq.id_for_label }}" class="col-form-label col-sm-2">Rmqs</label>
            <div class="col-sm-10">
                {% render_field form.rmq class="form-control" rows=5 %}
                <div class="{% if form.rmq.errors %} invalid{% endif %}">
                    {% for error in form.rmq.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="{{ form.attach.id_for_label }}" class="col-form-label col-sm-2">Joindre</label>
            <div class="col-sm-10">
                {% render_field form.attach class="form-control-file" %}
                <div class="{% if form.attach.errors %} invalid{% endif %}">
                    {% for error in form.attach.errors %}
                        <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#id_item').change(function () {
        $.ajax({
            method: "GET",
            url: "{% url 'tools:suptech_item_ajax' %}" + "?pk=" + $(this).val(),
            success: function (data) {
                console.log(data);
                if (data.extra === true) {
                    $('#id_custom_item').attr({'readonly': false, 'required': true});
                } else {
                    $('#id_custom_item').attr({'readonly': true, 'required': false});
                }
                $('#id_to').val(data.mailing_list)
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });
    });
</script>
