<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 mr-auto">{{ title }}</h1>
    <a href="http://{{ wiki_url }}" class="d-one d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-3" target="_blank">
        <i class="fas fa-question fa-sm text-white-50"></i> Wiki</a>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-danger create-suptech shadow-sm">
        <i class="fas fa-radiation fa-sm text-white-50"></i> Support Tech</a>
</div>