{% load i18n %}

{% load static %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          action="{% url 'dashboard:search' %}" method="get">
        <div class="input-group">
            <div class="input-group-prepend">
                <select class="custom-select bg-light border-0" name="select">
                    <option value="atelier">Atelier</option>
                    <option value="reman">Reman</option>
                </select>
            </div>
            <input type="text" class="form-control bg-light border-0" name="query"
                   placeholder="{% trans "Search Xelon, VIN or SN..." %}"
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search"
                      action="{% url 'dashboard:search' %}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search" name="query"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        {% comment %}
        {% include 'dashboard/top_bar_items.html' %}
        {% endcomment %}

        <li class="nav-item dropdown no-arrow mx-5 d-none d-xl-block">
            <div class="nav-link dropdown-item-text text-gray-600">
                <span id="datetime"></span>
            </div>
        </li>

        <!-- Nav Item - Languages -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-globe-europe fa-fw"></i>
            </a>
            <!-- Dropdown - Languages -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <a class="dropdown-item d-flex align-items-center"
                   href="{% url "dashboard:set_lang" user_language="en" %}">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'img/united-kingdom.png' %}" alt="">
                    </div>
                    <div class="font-weight-bold">
                        {% trans "English" %}
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center"
                   href="{% url "dashboard:set_lang" user_language="fr" %}">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'img/france.png' %}" alt="">
                    </div>
                    <div class="font-weight-bold">
                        {% trans "French" %}
                    </div>
                </a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        {{ user.username }}
                </span>
                    <img class="img-profile rounded-circle" src="{{ user.userprofile.image.url }}" alt="">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{% url 'dashboard:user_profile' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Profile" %}
                    </a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Change password" %}
                    </a>
                    {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            <strong class="text-primary">{% trans "Administration" %}</strong>
                        </a>
                        <a class="dropdown-item" href="{% url 'dashboard:signup' %}">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            <strong class="text-primary">{% trans "New user" %}</strong>
                        </a>
                        <a class="dropdown-item" href="#" onclick="excelImport(`{% url 'squalaetp:excel_import_async' %}`)">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            <strong class="text-danger">{% trans "Import Squalaetp" %}</strong>
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'api:doc' %}">
                        <i class="fas fa-book fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "API Documentation" %}
                    </a>
                    <a class="dropdown-item" href="{% url 'dashboard:activity_log' %}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Activity Log" %}
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="logout-btn dropdown-item" href="#">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Logout" %}
                    </a>
                </div>
            {% else %}
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        {% trans "Guest" %}
                </span>
                    <img class="img-profile rounded-circle" src="{% static 'img/avatar.png' %}" alt="">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    {#                    <a class="login-btn dropdown-item" href="#">#}
                    {#                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>#}
                    {#                        {% trans "Login" %}#}
                    {#                    </a>#}
                    <a class="dropdown-item" href="{% url 'login' %}">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        {% trans "Login" %}
                    </a>
                </div>
            {% endif %}
        </li>

    </ul>

</nav>
<!-- End of Topbar -->