{% load custom_tags %}

{% if prods %}
    {% for prod in prods %}
        {% with delai=prod.delai_expedition_attendue %}
            <tr {% if delai >= 3 %}class="bg-danger text-light"
                {% elif delai >= 1 %}class="bg-warning text-gray-800"
                {% elif delai == 0 %}class="bg-info text-light"
                {% else %}class="bg-success text-gray-700"{% endif %}>
                <td>{{ activity }}</td>
                <td><a href="http://{{ domain }}{% url 'squalaetp:detail' pk=prod.pk %}?select=xelon">{{ prod.numero_de_dossier }}</a>
                </td>
                <td>{{ prod.modele_produit }} {{ prod.dossier_vip|yesno:"(VIP)," }} {{ prod.express|yesno:"(EXP)," }}</td>
                <td>{{ prod.date_retour }}</td>
                <td>{{ prod.date_expedition_attendue|default:"" }}</td>
                <td>{{ prod.delai_expedition_attendue|default_if_none:"" }}</td>
                <td>{{ prod.type_de_cloture }}</td>
                <td>{{ prod.nom_technicien }}</td>
            </tr>
        {% endwith %}
    {% endfor %}

    <tr class="bg-success text-light">
        <td>Total {{ activity }}</td>
        <td>{{ prods.count }}</td>
        {% for _ in 0|range:6 %}
            <td></td>
        {% endfor %}
    </tr>
    <tr>
        {% for _ in 0|range:8 %}
            <td></td>
        {% endfor %}
    </tr>
{% endif %}