{% extends 'format/forms_format.html' %}

{% load i18n widget_tweaks static tools_extras %}

{% block form_content %}

    <div class="p-2">
        <div class="form-group row">
            <label for="id_user" class="col-form-label col-sm-2">Qui</label>
            <div class="col-sm-4">
                {% with user=object.created_by %}
                    <input type="text" value="{{ user.first_name }} {{ user.last_name }} - {{ user }}" maxlength="50" disabled class="form-control" id="id_user">
                {% endwith %}
            </div>
            <label for="id_created_at" class="col-form-label col-sm-3">Date de la demande</label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <input type="text" value="{{ object.created_at|default:'' }}" maxlength="10" disabled class="form-control" id="id_created_at">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_xelon" class="col-form-label col-sm-2">N° XELON / REMAN</label>
            <div class="col-sm-4">
                <input type="text" value="{{ object.xelon }}" maxlength="10" disabled class="form-control" id="id_xelon">
            </div>
            <label for="id_time" class="col-form-label col-sm-3">Temps/Durée (en min)</label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <input type="text" value="{{ object.time }}" maxlength="10" disabled class="form-control" id="id_time">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_product" class="col-form-label col-sm-2">Modèle produit</label>
            <div class="col-sm-4">
                <input type="text" value="{{ object.product }}" maxlength="10" disabled class="form-control" id="id_product">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_item" class="col-form-label col-sm-2">Objet</label>
            <div class="col-sm-4 mb-3 mb-sm-0">
                <input type="text" value="{{ object.item }}" maxlength="200" disabled class="form-control" id="id_item">
            </div>
            <label for="id_time" class="col-form-label col-sm-3">Catégorie</label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <input type="text" value="{{ object.category|default:"---" }}" maxlength="200" disabled class="form-control" id="id_time">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_time" class="col-form-label col-sm-2">Date demande</label>
            <div class="col-sm-4 mb-3 mb-sm-0">
                <input type="text" value="{{ object.date|default_if_none:"---" }}" maxlength="200" disabled class="form-control" id="id_time">
            </div>
            <label for="id_is_48h" class="col-form-label col-sm-3">Traitement 48h</label>
            <div class="col-sm-3 mb-3 mb-sm-0">
                <input type="checkbox" {% if object.is_48h %}checked{% endif %} disabled class="form-control" id="id_is_48h">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_to" class="col-form-label col-sm-2">À</label>
            <div class="col-sm-10">
                <textarea cols="40" maxlength="2000" disabled class="form-control" id="id_to">{{ object.to }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_cc" class="col-form-label col-sm-2">Cc</label>
            <div class="col-sm-10">
                <textarea cols="40" maxlength="2000" disabled class="form-control" id="id_cc">{{ object.cc }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_info" class="col-form-label col-sm-2">Infos</label>
            <div class="col-sm-10">
                <textarea cols="40" rows="5" maxlength="2000" disabled class="form-control" id="id_info">{{ object.info }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_rmq" class="col-form-label col-sm-2">Rmqs</label>
            <div class="col-sm-10">
                <textarea cols="40" rows="5" maxlength="2000" disabled class="form-control" id="id_rmq">{{ object.rmq }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_action" class="col-form-label col-sm-2">Action</label>
            <div class="col-sm-10">
                <textarea cols="40" rows="5" maxlength="2000" disabled class="form-control" id="id_action">{{ object.action }}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_modified_by" class="col-form-label col-sm-2">Traité par</label>
            <div class="col-sm-4">
                {% with user=object.modified_by %}
                        <input type="text" value="{% if user %}{{ user.last_name }} {{ user.first_name }} - {{ user }}{% endif %}" maxlength="200" disabled class="form-control" id="id_modified_by">
                {% endwith %}
            </div>
            <label for="id_modified_at" class="col-form-label col-sm-3">Date du traitement</label>
            <div class="col-sm-3">
                <input type="text" value="{{ object.modified_at|default:'' }}" maxlength="200" disabled class="form-control" id="id_modified_at">
            </div>
        </div>

        <div class="form-group row">
            <label for="id_status" class="col-form-label col-sm-2">Statut</label>
            <div class="col-sm-2">
                <input type="text" value="{{ object.status }}" maxlength="200" disabled class="form-control" id="id_status">
            </div>
            <label for="id_deadline" class="col-form-label col-sm-2">
                Date limite (Optionnel)
            </label>
            <div class="col-sm-2">
                <input type="text" value="{{ object.deadline|default:'' }}" maxlength="200" disabled class="form-control" id="id_deadline">
            </div>
        </div>

        <div class="row mt-5">
            <label class="col-sm-2">Pièces-jointes</label>
            <div class="col-sm-10">
                {% for file in object.suptechfile_set.all %}
                    <div><a href="{% get_media_prefix %}{{ file.file}}" target="_blank">{{ file.file.name }}</a></div>
                {% empty %}
                    <p>Pas de fichiers</p>
                {% endfor %}
            </div>
        </div>

        {% if perms.tools.change_suptech %}

            <div class="mt-5 row">
                <div class="col text-center">
                    {% if object.status != "Cloturée" %}
                        <a type="button" href="{% url 'tools:suptech_update' pk=object.pk %}" class="text-justify btn btn-primary">{% trans 'Respond to request' %}</a>
                    {% else %}
                        <button class="text-justify btn btn-primary" disabled>{% trans 'Respond to request' %}</button>
                    {% endif %}
                </div>
            </div>

        {% endif %}

        <hr class="mt-5">

        {% include 'tools/format/messages.html' %}

        <h4 class="font-weight-bold">AJOUTER UN MESSAGE :</h4>
        <p>Si vous voulez laisser un message à propos de cette demande, merci de bien vouloir le renseigner dans le champ ci-dessous</p>

        <form method="post" action="">

            {% csrf_token %}

            <div class="text-danger {% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="form-group row">
                <label for="{{ form.content.id_for_label }}" class="col-form-label col-sm-2">Votre message</label>
                <div class="col-sm-10">
                    {% render_field form.content class="form-control" cols="40" rows="5" maxlength="2000" %}
                </div>
            </div>

            <div class="float-right">
                <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
            </div>

        </form>

    </div>

{% endblock %}