{% extends 'format/datatables_format.html' %}

{% load static %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'tools/suptech/tab_select.html' with select=query_param %}

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <table class="table table-bordered display" id="suptechTable" style="width:100%">
        <thead>
        <tr>
            <td></td>
            <td></td>
            <th style="min-width: 8rem;">Date</th>
            <th>Qui</th>
            <th>N° XELON</th>
            <th>Objet</th>
            <th>Temps/Durée</th>
            <th style="min-width: 30rem; max-width: 30rem;">Infos</th>
            <th style="min-width: 30rem; max-width: 30rem;">Rmqs</th>
            <th style="min-width: 20rem;">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in objects %}

            <tr>
                <td class="bg-white">
                    {% if perms.tools.change_suptech %}
                        <a href="{% url 'tools:suptech_update' pk=obj.pk %}" title="Actions réalisées" class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                    {% else %}
                        <i class="btn btn-dark btn-circle btn-sm fas fa-edit"></i>
                    {% endif %}
                </td>
                <td class="bg-white">
                    <a href="#" title="Détail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                </td>
                <td>{{ obj.date }}</td>
                <td>{{ obj.user }}</td>
                <td>{{ obj.xelon }}</td>
                <td>{{ obj.item }}</td>
                <td>{{ obj.time }}</td>
                <td>{{ obj.info }}</td>
                <td>{{ obj.rmq }}</td>
                <td>{{ obj.action }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script src="{% static 'tools/js/tools-tables.js' %}"></script>

{% endblock %}