{% extends 'format/forms_format.html' %}

{% load i18n widget_tweaks static tools_extras %}

{% block form_content %}

    <div class="p-2">
        <form method="post" action="" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="text-danger {% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="form-group row">
                <label for="{{ form.user.id_for_label }}" class="col-form-label col-sm-2">Qui</label>
                <div class="col-sm-4">
                    {% render_field form.user class="form-control" readonly="" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.xelon.id_for_label }}" class="col-form-label col-sm-2">N° XELON</label>
                <div class="col-sm-4">
                    {% render_field form.xelon class="form-control" readonly="" %}
                </div>
                <label for="{{ form.time.id_for_label }}" class="col-form-label col-sm-3">Temps/Durée (en min)</label>
                <div class="col-sm-3 mb-3 mb-sm-0">
                    {% render_field form.time class="form-control" readonly="" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="id_product" class="col-form-label col-sm-2">Modèle produit</label>
                <div class="col-sm-4">
                    <input type="text" value="{{ object.product }}" maxlength="10" disabled class="form-control"
                           id="id_product">
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.item.id_for_label }}" class="col-form-label col-sm-2">Objet</label>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    {% render_field form.item class="form-control" readonly="" %}
                </div>
                <label for="{{ form.category.id_for_label }}" class="col-form-label col-sm-3">Catégorie</label>
                <div class="col-sm-3 mb-3 mb-sm-0">
                    {% render_field form.category class="form-control" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="id_time" class="col-form-label col-sm-2">Date demande</label>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" value="{{ object.date|default_if_none:"---" }}" maxlength="200" disabled
                           class="form-control" id="id_time">
                </div>
                <label for="{{ form.is_48h.id_for_label }}" class="col-form-label col-sm-3">Traitement 48h</label>
                <div class="col-sm-3 mb-3 mb-sm-0">
                    {% render_field form.is_48h class="form-control" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.to.id_for_label }}" class="col-form-label col-sm-2">À</label>
                <div class="col-sm-10">
                    {% render_field form.to class="form-control" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.cc.id_for_label }}" class="col-form-label col-sm-2">Cc</label>
                <div class="col-sm-10">
                    {% render_field form.cc class="form-control" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.info.id_for_label }}" class="col-form-label col-sm-2">Infos</label>
                <div class="col-sm-10">
                    {% render_field form.info class="form-control" rows=5 readonly="" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.rmq.id_for_label }}" class="col-form-label col-sm-2">Rmqs</label>
                <div class="col-sm-10">
                    {% render_field form.rmq class="form-control" rows=5 readonly="" %}
                </div>
            </div>

            <div class="form-group row">
                <label for="id_action_old" class="col-form-label col-sm-2">Action</label>
                <div class="col-sm-10">
                    <textarea cols="40" rows="5" maxlength="2000" disabled class="form-control" id="id_action_old">{{ form.action.initial }}</textarea>
                </div>
            </div>

            <div class="row mt-5">
                <label class="col-sm-2">Pièces-jointes</label>
                <div class="col-sm-10">
                    {% for file in object.suptechfile_set.all %}
                        <div><a href="{% get_media_prefix %}{{ file.file }}" target="_blank">{{ file.file.name }}</a>
                        </div>
                    {% empty %}
                        <p>Pas de fichiers</p>
                    {% endfor %}
                </div>
            </div>

            <hr class="mt-5">

            {% include 'tools/format/messages.html' %}

            <h4 class="font-weight-bold text-uppercase">repondre a la demande :</h4>

            {% if object.status == "Cloturée" %}
                <div class="form-row">
                    <div class="help-block col-sm-12 text-center">
                        <h5 class="bg-danger text-white font-weight-bold">La demande à déjà été cloturée !!!</h5>
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                <label for="{{ form.action.id_for_label }}" class="col-form-label col-sm-2">Action *</label>
                <div class="col-sm-10">
                    {% render_field form.action class="form-control" rows=5 %}
                    <div class="{% if form.action.errors %} invalid{% endif %}">
                        {% for error in form.action.errors %}
                            <p class="help-block text-danger">* {{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                {% include 'format/form_label.html' with field=form.attach label='Joindre' %}
                <div class="col-sm-10">
                    {% render_field form.attach class="form-control-file" %}
                    <div class="{% if form.attach.errors %} invalid{% endif %}">
                        {% for error in form.attach.errors %}
                            <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.status.id_for_label }}" class="col-form-label col-sm-2">Statut *</label>
                <div class="col-sm-2">
                    {% render_field form.status class="form-control" rows=5 %}
                    <div class="{% if form.status.errors %} invalid{% endif %}">
                        {% for error in form.status.errors %}
                            <p class="help-block text-danger">* {{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <label for="{{ form.deadline.id_for_label }}" class="col-form-label col-sm-2">
                    Date limite (Optionnel)
                </label>
                <div class="col-sm-2">
                    {% render_field form.deadline class="form-control" rows=5 %}
                    <div class="{% if form.deadline.errors %} invalid{% endif %}">
                        {% for error in form.deadline.errors %}
                            <p class="help-block text-danger">* {{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <hr>
            <div class="float-right">
                <a type="button" href="{% url 'tools:suptech_detail' object.pk %}"
                   class="btn btn-secondary">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-primary ml-3" {% if object.status == "Cloturée" %}disabled{% endif %}>
                    {% trans 'Update' %}
                </button>
            </div>

        </form>

    </div>

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript">
        $("#id_action").text("")

        $('#id_category').change(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'tools:suptech_mailing_async' %}" + "?sup=" + {{ object.pk }} + "&cat=" + $(this).val(),
                success: function (data) {
                    console.log(data);
                    $('#id_to').val(data['to_list']);
                    $('#id_cc').val(data['cc_list']);
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                }
            });
        });
    </script>

{% endblock %}