{% load i18n %}

<li class="nav-item {% if select == 'tools-status' %}active{% endif %}">
    <a class="nav-link {% if select == 'tools-status' %}active{% endif %}" href="{% url 'prog:tool_status' %}">
        Statut Outils
    </a>
</li>

<li class="nav-item {% if select == 'aet' %}active{% endif %}">
    <a class="nav-link {% if select == 'aet' %}active{% endif %}" href="{% url 'prog:aet_info' %}">
        Mise à jour AET
    </a>
</li>

{% if perms.prog.view_info_tools %}
    <li class="nav-item {% if select == 'tools-info' %}active{% endif %}">
        <a class="nav-link {% if select == 'tools-info' %}active{% endif %}" href="{% url 'prog:tool_info' %}">
            Info Outils
        </a>
    </li>
{% endif %}
