{% extends 'format/detail_format.html' %}

{% load static i18n %}

{% block detail_content %}

    <table class="table table-striped" style="width: 100%;">
        <tbody>

            {% for obj in object_list %}
            <tr>
                <td class="col-2 font-weight-bold">
                    {{ obj.name }}
                </td>
                <td class="col-4">
                    {{ obj.comment }}
                </td>
                <td class="col-4 font-weight-bold">
                    STATUS :<span id="{{ obj.name|slugify }}" class="ml-4"></span>
                </td>
                <td class="col-2">
                    <a class="btn btn-block btn-secondary" href="{{ obj.status_url }}" target="_blank" disabled>Configuration</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript">
        const slugify = str =>
          str
            .toLowerCase()
            .trim()
            .replace(/[^\w\s-]/g, '')
            .replace(/[\s_-]+/g, '-')
            .replace(/^-+|-+$/g, '');

        function get_tool_info() {
            $.ajax({
                method: "get",
                url: "{% url 'prog:ajax_tool_info' %}",
                success: function(data) {
                    console.log(data);
                    for (var key in data) {
                        $('#' + slugify(key)).html(data[key]);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        }

        get_tool_info();
        setInterval(get_tool_info, 5000);
    </script>

{% endblock %}