{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'prog/tab_select.html' with select='tools' %}

        </ul>
    </div>

{% endblock %}


{% block table_content %}

    <button class="add-tool btn btn-sm btn-primary mb-3"
            {% if not perms.prog.add_toolstatus %}disabled{% endif %}>
        <i class="fas fa-plus-square text-white-50"></i> Ajout Outil
    </button>

    <table class="table table-striped" style="width: 100%;">
        <thead class="thead-dark text-uppercase">
            <tr>
                <th></th>
                <th class="col-1">Nom</th>
                <th class="col-2">Commentaire</th>
                <th class="col-1 text-nowrap">N° Xelon</th>
                <th class="col-2">Status</th>
                <th class="col-1 text-nowrap">Hostname</th>
                <th class="col-1">Logiciel</th>
                <th class="col-1 text-nowrap">Type Produit</th>
                <th class="col-1">Version</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td class="text-nowrap" style="width: 60px;">
                    {% if perms.prog.change_toolstatus %}
                        <a href="#" title="Modif. info outil" data-form-url="{% url 'prog:tool_update' obj.pk %}" class="bs-large-modal btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                        <span id="tool{{ obj.id }}-rb">
                            <button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-rotate"></i></button>
                        </span>
                        <span id="tool{{ obj.id }}-stp">
                            <button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-power-off"></i></button>
                        </span>
                    {% else %}
                        <button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-edit"></i></button>
                        <button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-rotate"></i></button>
                        <button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-power-off"></i></button>
                    {% endif %}

                </td>
                <td class="font-weight-bold text-nowrap">{{ obj.name }}</td>
                <td>{{ obj.comment }}</td>
                <td class="font-weight-bold" id="tool{{ obj.id }}-x"></td>
                <td class="font-weight-bold text-nowrap" id="tool{{ obj.id }}">Hors ligne</td>
                <td class="font-weight-bold" id="tool{{ obj.id }}-h"></td>
                <td class="font-weight-bold" id="tool{{ obj.id }}-s"></td>
                <td class="font-weight-bold" id="tool{{ obj.id }}-d"></td>
                <td class="font-weight-bold" id="tool{{ obj.id }}-v"></td>
                <td id="tool{{ obj.id }}-btn">
                    <button class="btn btn-block btn-secondary" disabled>Webapp</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extrascripts %}

    <script type="text/javascript">
        let obj_list = [
            {% for obj in object_list %}
                "{{ obj.id }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        function toolSystem(pk, mode) {
            let url = "{% url 'prog:ajax_tool_system' pk=0 %}".replace('0', pk);
            url = url + "?mode=" + mode;
            $.ajax({
                method: "get",
                url: url,
                success: function(data) {
                    console.log(data);
                    if (data['status'] === "busy") {
                        addMessage(data['msg'], "warning");
                    } else addMessage(data['msg']);
                },
                error: function(error) {
                    console.log(error);
                    addMessage("Action impossible !", "danger");
                }
            })
        }

        function toolStop(pk){
            toolSystem(pk, "stop");
        }

        function toolRestart(pk){
            toolSystem(pk, "restart");
        }

        function getToolInfo() {
            for (let i in obj_list) {
                let pk = obj_list[i];
                $.ajax({
                    method: "get",
                    url: "{% url 'prog:ajax_tool_info' pk=0 %}".replace('0', pk),
                    success: function(data) {
                        console.log(data);
                        let href = data['href'];
                        let id = '#tool' + pk;
                        {#$(id+'-ip').html(data['ip_addr']);#}
                        $(id+'-h').html(data['hostname']);
                        $(id+'-s').html(data['soft']);
                        $(id+'-v').html(data['version']);
                        $(id+'-d').html(data['device']);
                        $(id+'-x').html(data['xelon']);
                        $(id).html(data['status']);
                        if (data['status_code'] === 404) {
                            $(id + '-btn').html('<button class="btn btn-block btn-secondary" disabled>Webapp</button>');
                            $(id+'-rb').html('<button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-rotate"></i></button>');
                            $(id+'-stp').html('<button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-power-off"></i></button>');
                        } else if (data['status'] === 'Libre') {
                            $(id+'-btn').html('<a class="btn btn-block btn-secondary" href="' + href + '" target="_blank">Webapp</a>');
                            $(id+'-rb').html('<button title="Reboot outil" class="btn btn-warning btn-circle btn-sm" onclick="toolRestart(' + pk + ')"><i class="fas fa-rotate"></i></button>');
                            $(id+'-stp').html('<button title="Arrêt outil" class="btn btn-danger btn-circle btn-sm" onclick="toolStop(' + pk + ')"><i class="fas fa-power-off"></i></button>');
                        } else {
                            $(id+'-btn').html('<a class="btn btn-block btn-secondary" href="' + href + '" target="_blank">Webapp</a>');
                            $(id+'-rb').html('<button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-rotate"></i></button>');
                            $(id+'-stp').html('<button class="btn btn-dark btn-circle btn-sm" disabled><i class="fas fa-power-off"></i></button>');
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        }

        getToolInfo();
        setInterval(getToolInfo, 10000);
    </script>

{% endblock %}