{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block table_content %}

    <table class="table table-bordered table-sm text-nowrap display" id="corvetNewTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th>V.I.N.</th>
            <th>Réf. Radio</th>
            <th>CAL. Radio</th>
            <th>Réf. Télématique</th>
            <th>CAL. Télématique</th>
            <th>Réf. ECU Moteur</th>
            <th>SOFT. ECU Moteur</th>
            <th>réf. BSI</th>
            <th>SOFT. BSI</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablecss %}

    <!-- SearchPanes css -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/SearchPanes/css/searchPanes.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/Buttons/css/buttons.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/Select/css/select.bootstrap4.min.css' %}"/>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        const URL_AJAX = "{% url 'psa:api_corvet-list' %}";
    </script>
    <script type="text/javascript" src="{% static 'psa/js/corvet-tables.js' %}"></script>

    <!-- SearchPanes scripts -->
    <script type="text/javascript" src="{% static 'vendor/datatables/SearchPanes/js/dataTables.searchPanes.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/SearchPanes/js/searchPanes.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/Select/js/dataTables.select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/Buttons/js/buttons.bootstrap4.min.js' %}"></script>

{% endblock %}