{% extends 'format/detail_format.html' %}

{% load static i18n %}

{% block detail_content %}

    <div class="text-center mb-4">
        <a class="col-sm-2 align-self-center btn btn-primary btn-user" href="{{ request.META.HTTP_REFERER }}">{% trans "Previous page" %}</a>
    </div>

    <table class="table table-striped table-condensed">

        <tbody>

        {% for key, value in dict_corvet.items %}
            <tr>
                <td class="text-dark">{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}