{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            <li class="nav-item {% if select == 'media' %}active{% endif %}">
                <a class="nav-link {% if select == 'media' %}active{% endif %}" href="{% url 'psa:product' %}?filter=media">
                    {% trans "Multimedia" %}
                </a>
            </li>
            <li class="nav-item {% if select == 'ecu' %}active{% endif %}">
                <a class="nav-link {% if select == 'ecu' %}active{% endif %}" href="{% url 'psa:product' %}?filter=ecu">
                    {% trans "Other ECUs" %}
                </a>
            </li>

        </ul>
    </div>

{% endblock %}


{% block table_content %}

    {% if select == 'media' %}

        <table class="table table-bordered table-sm text-nowrap" id="prodTable" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th class="all">Code barre PSA</th>
                <th>Modèle</th>
                <th>Façade</th>
                <th>Type</th>
                <th>Fabriquant</th>
                <th>DAB</th>
                <th>Caméra recul</th>
                <th>Type média</th>
            </tr>
            </thead>
            <tbody>

            {% for prod in products %}

                <tr {% if prod.dump_renesas %}class="bg-success text-gray-700"{% endif %}>
                    <td class="bg-white text-nowrap" style="width: 60px;">
                        <a href="#" title="Modification" class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="#" title="Détail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                    </td>
                    <td>{{ prod.comp_ref }}</td>
                    <td>{{ prod.get_name_display }}</td>
                    <td>{{ prod.level }}</td>
                    <td>{{ prod.get_type_display }}</td>
                    <td>{{ prod.supplier_oe }}</td>
                    <td>{% if prod.dab %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if prod.cam %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ prod.get_media_display }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% else %}

        <table class="table table-bordered table-sm text-nowrap" id="prodTable" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th class="all">Code barre PSA</th>
                <th>Modèle</th>
                <th>Type</th>
                <th>Fabriquant</th>
            </tr>
            </thead>
            <tbody>

            {% for prod in products %}

                <tr {% if prod.dump_renesas %}class="bg-success text-gray-700"{% endif %}>
                    <td class="bg-white text-nowrap" style="width: 60px;">
                        <a href="#" title="Modification" class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="#" title="Détail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                    </td>
                    <td>{{ prod.comp_ref }}</td>
                    <td>{{ prod.name }}</td>
                    <td>{{ prod.get_type_display }}</td>
                    <td>{{ prod.supplier_oe }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'psa/js/psa-tables.js' %}"></script>

{% endblock %}