{% load i18n %}

<li class="nav-item {% if select == 'links' %}active{% endif %}">
    <a class="nav-link {% if select == 'links' %}active{% endif %}" href="{% url 'psa:useful_links' %}">
        {% trans "Useful links" %}
    </a>
</li>
<li class="nav-item {% if select == 'nac-tools' %}active{% endif %}">
    <a class="nav-link {% if select == 'nac-tools' %}active{% endif %}" href="{% url 'psa:nac_tools' %}">
        {% trans 'NAC tools' %}
    </a>
</li>
<li class="nav-item {% if select == 'can-tools' %}active{% endif %}">
    <a class="nav-link {% if select == 'can-tools' %}active{% endif %}" href="{% url 'psa:can_tools' %}">
        {% trans 'CAN tools' %}
    </a>
</li>
