<table class="table table-striped table-condensed table-sm">
    <tbody>

    <tr>
        <td class="text-dark">Numéro de dossier</td>
        <td>{{ xelon.numero_de_dossier }}</td>
    </tr>
    <tr>
        <td class="text-dark">V.I.N.</td>
        <td>{{ xelon.vin }}</td>
    </tr>
    <tr>
        <td class="text-dark">Modèle produit</td>
        <td>{{ xelon.modele_produit }}</td>
    </tr>
    <tr>
        <td class="text-dark">Modèle véhicule</td>
        <td>{{ xelon.modele_vehicule }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date Retour</td>
        <td>{{ xelon.date_retour }}</td>
    </tr>
    <tr>
        <td class="text-dark">Type de clôture</td>
        <td>{{ xelon.type_de_cloture }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date de clôture</td>
        <td>{{ xelon.date_de_cloture }}</td>
    </tr>
    <tr>
        <td class="text-dark">Nom technicien</td>
        <td>{{ xelon.nom_technicien }}</td>
    </tr>
    <tr>
        <td class="text-dark">Commentaire action</td>
        <td>{{ xelon.commentaire_action }}</td>
    </tr>
    <tr>
        <td class="text-dark">Commentaire FR</td>
        <td>{{ xelon.commentaire_de_la_fr }}</td>
    </tr>
    <tr>
        <td class="text-dark">Commentaire SAV Admin</td>
        <td>{{ xelon.commentaire_sav_admin }}</td>
    </tr>
    <tr>
        <td class="text-dark">Libellé de la fiche K</td>
        <td>{{ xelon.libelle_de_la_fiche_cas }}</td>
    </tr>
    <tr>
        <td class="text-dark">Lieu de stockage</td>
        <td>{{ xelon.lieu_de_stockage }}</td>
    </tr>
    <tr>
        <td class="text-dark">Dossier VIP</td>
        <td>{{ xelon.dossier_vip }}</td>
    </tr>
    <tr>
        <td class="text-dark">Express</td>
        <td>{{ xelon.express }}</td>
    </tr>

    </tbody>
</table>
