<hr>

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.cmb id="cmb" title="pièces tableau de bord :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.emf id="emf" title="pièces écran multifonction :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.radio id="radio" title="pièces autoradio :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.btel id="btel" title="pièces navigation :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.cmm id="cmm" title="pièces calculateur moteur :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.bsi id="bsi" title="pièces B.S.I. :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.hdc id="hdc" title="pièces COM200x :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.cvm2 id="cvm2" title="pièces CVM v2 :" %}

{% include 'squalaetp/format/part_table.html' with obj=corvet.prods.bpga id="bpga" title="pièces BPGA :" %}