{% load i18n widget_tweaks corvet_tags %}

<div class="{% if form.non_field_errors %}invalid{% endif %} text-center bg-danger text-white text-uppercase font-weight-bold mb-2">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
<div class="row">
    <section class="col-sm-3">
        <h6 class="font-weight-bold text-uppercase">VIN/CORVET :</h6>
        <button class="log-btn btn btn-secondary btn-block" data-id="{% url 'squalaetp:log_detail' xelon.pk %}" {% if query_param == 'temp' %}disabled{% endif %}>Info VIN Raspeedi</button>
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:vin_edit' xelon.pk %}?filter={{ query_param }}" {% if not perms.squalaetp.change_vin or query_param == 'temp' %}disabled{% endif %}>
            Modification
        </button>
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:vin_email' xelon.pk %}" {% if not perms.squalaetp.email_vin or query_param == 'temp' %}disabled{% endif %}>
            <i class="fas fa-envelope pr-2"></i><span class="text-warning font-weight-bold">Atelier</span><i class="fas fa-long-arrow-alt-right px-2"></i>Admin
        </button>
        {#        <div class="dropdown no-arrow show">#}
        {#            <button class="btn btn-secondary btn-block mb-3 dropdown-toggle" id="emailVin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if not perms.squalaetp.email_vin %}disabled{% endif %}>#}
        {#                <i class="fas fa-envelope pr-2"></i>Atelier<i class="fas fa-long-arrow-alt-right px-2"></i>Admin#}
        {#            </button>#}
        {#            <div class="dropdown-menu btn-block" aria-labelledby="emailVin">#}
        {#                <a class="dropdown-item bs-large-modal" data-form-url="{% url 'squalaetp:vin_email' xelon.pk %}" href="#">Modification Xelon</a>#}
        {#                <a class="dropdown-item" href="#">Vérification client</a>#}
        {#            </div>#}
        {#        </div>#}
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:adm_email' xelon.pk %}" {% if not perms.squalaetp.email_admin or query_param == 'temp'  %}disabled{% endif %}>
            <i class="fas fa-envelope pr-2"></i>Atelier<i class="fas fa-long-arrow-alt-left px-2"></i><span class="text-warning font-weight-bold">Admin</span>
        </button>
        <hr>

        <h6 class="font-weight-bold text-uppercase">Modèle PRODUIT :</h6>
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:prod_edit' xelon.pk %}" {% if not perms.squalaetp.change_product or query_param == 'temp' %}disabled{% endif %}>
            Modification
        </button>
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:prod_email' xelon.pk %}" {% if not perms.squalaetp.email_product or query_param == 'temp'  %}disabled{% endif %}>
            <i class="fas fa-envelope pr-2"></i><span class="text-warning font-weight-bold">Atelier</span><i class="fas fa-long-arrow-alt-right px-2"></i>Admin
        </button>
        <button class="bs-large-modal btn btn-secondary btn-block mb-3" data-form-url="{% url 'squalaetp:adm_email' xelon.pk %}?select=prod" {% if not perms.squalaetp.email_admin or query_param == 'temp' %}disabled{% endif %}>
            <i class="fas fa-envelope pr-2"></i>Atelier<i class="fas fa-long-arrow-alt-left px-2"></i><span class="text-warning font-weight-bold">Admin</span>
        </button>
        <hr class="mb-5">

        <h6 class="font-weight-bold text-uppercase">Outils réparation :</h6>
        {% if query_param == 'xelon' %}
            {% if xelon.is_active %}
                <a class="btn btn-secondary btn-block mb-3" href="#">Dossier Actif</a>
            {% else %}
                <a class="btn btn-primary btn-block mb-3" href="{% url 'squalaetp:prog_activate' xelon.pk %}">Activer Dossier</a>
            {% endif %}
            <button class="bs-large-modal btn btn-warning btn-block mb-3 text-dark" data-form-url="{% url 'squalaetp:sn_edit' xelon.pk %}" {% if not perms.squalaetp.change_sn or query_param == 'temp' %}disabled{% endif %}>
                Nouveau S/N ou UIN
            </button>
        {% endif %}
        <a class="btn btn-secondary btn-block mb-3" href="{% url 'squalaetp:barcode_pdf' pk=xelon.pk %}?filter={{ query_param }}" target="_blank">Générer code barre</a>
        <a class="btn btn-success btn-block" href="{% url 'squalaetp:generate' %}">Générer Squalaetp</a>
    </section>

    <section class="col-sm-9">

        {% include 'squalaetp/format/input_ihm.html' with label="V.I.N. (XELON)" value=xelon.vin %}

        {% include 'squalaetp/format/input_ihm.html' with label="Modèle produit (XELON)" value=xelon.modele_produit %}

        {% include 'squalaetp/format/input_ihm.html' with label="Modèle véhicule (XELON)" value=xelon.modele_vehicule %}

        {% include 'squalaetp/format/input_ihm.html' with label="Modèle véhicule (CORVET)" value=corvet.get_vehicle_display %}

        {% if collapse.cmm %}

            <!-- ECU Info -->
            <hr>

            {% include 'squalaetp/format/input_ihm.html' with label="CMM MODEL - Calculateur Moteur Multifonction" value=corvet.prods.cmm.name|default:"???" %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_14a"|get_field_name value=corvet.electronique_14a %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_94a"|get_field_name value=corvet.electronique_94a %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_34a"|get_field_name value=corvet.electronique_34a %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_44a"|get_field_name value=corvet.electronique_44a %}

        {% elif collapse.bsi %}

            <!-- BSI Info -->
            <hr>

            {% include 'squalaetp/format/input_ihm.html' with label="BSI MODEL - Boitier Servitude Intelligent" value=corvet.prods.bsi.name|default:"???" %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_14b"|get_field_name value=corvet.electronique_14b %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_94b"|get_field_name value=corvet.electronique_94b %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_44b"|get_field_name value=corvet.electronique_44b %}

        {% elif collapse.hdc %}

            <!-- BSI Info -->
            <hr>

            {% include 'squalaetp/format/input_ihm.html' with label="HDC MODEL - Haut de Colonne de Direction" value=corvet.prods.hdc.name|default:"???" %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_16p"|get_field_name value=corvet.electronique_16p %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_46p"|get_field_name value=corvet.electronique_46p %}

        {% endif %}

        <hr>

        {% if corvet.electronique_14x %}

            <!-- BTEL Info -->

            {% include 'squalaetp/format/input_ihm.html' with label="BTEL MODEL - Boitier Télématique" value=btel_model %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_14x"|get_field_name value=corvet.electronique_14x %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_94x"|get_field_name value=corvet.electronique_94x %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_44x"|get_field_name value=corvet.electronique_44x %}

            {% if corvet.opts.new_44x %}
                <div class="form-group">
                    <div class="form-group row">
                        <label for="id_{{ corvet.opts.new_44x }}" class="col-sm-7 col-form-label">BTEL FOURN.NO.SERIE (SWAP)</label>
                        <div class="col-sm-5">
                            <input type="text" name="" value="{{ corvet.opts.new_44x }}" maxlength="200" readonly class="form-control bg-warning" id="id_{{ corvet.opts.new_44x }}">
                        </div>
                    </div>
                </div>
            {% endif %}

        {% elif corvet.electronique_14f %}

            <!-- RADIO Info -->

            {% include 'squalaetp/format/input_ihm.html' with label="RADIO MODEL - Recepteur Radio" value=corvet.prods.radio.get_name_display %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_14f"|get_field_name value=corvet.electronique_14f %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_94f"|get_field_name value=corvet.electronique_94f %}

            {% include 'squalaetp/format/input_ihm.html' with label="electronique_44f"|get_field_name value=corvet.electronique_44f %}

        {% endif %}

    </section>
</div>

{% if xelon.actions.all %}
    <div class="row">
        <section class="col-sm-12">
            <table class="table table-bordered table-striped table-sm mt-4">
                <thead class="table-primary">
                <tr>
                    <th colspan="8" class="text-primary text-uppercase">
                        <i class="fas fa-archive mr-2"></i><span>HISTORIQUE MODIFICATIONS :</span>
                    </th>
                </tr>
                <tr>
                    <th>Action</th>
                    <th>Modifié le</th>
                    <th>Modifié par</th>
                </tr>
                </thead>

                <tbody>

                {% for action in xelon.actions.all %}

                    <tr>
                        <td>{{ action.content|linebreaksbr }}</td>
                        <td>{{ action.modified_at }}</td>
                        <td>{{ action.modified_by }}</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </section>
    </div>
{% endif %}

{% if suptechs.all %}
    <div class="row">
        <section class="col-sm-12">
            <table class="table table-bordered table-striped table-sm mt-4">
                <thead class="table-primary">
                <tr>
                    <th colspan="8" class="text-primary text-uppercase">
                        <i class="fas fa-toolbox mr-2"></i><span>LISTE SUPTECH :</span>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="text-nowrap">N° Sup</th>
                    <th>Date</th>
                    <th>Qui</th>
                    <th class="text-nowrap">N° XELON</th>
                    <th>Objet</th>
                    <th>Status</th>
                    <th class="text-nowrap">Action par</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in suptechs %}

                    <tr>
                        <td class="bg-white text-nowrap" style="width: 60px;">
                            {% if perms.tools.change_suptech %}
                                <a href="{% url 'tools:suptech_update' pk=obj.pk %}" title="Actions réalisées" class="btn btn-success btn-circle btn-sm" target="_blank"><i class="fas fa-edit"></i></a>
                            {% else %}
                                <i class="btn btn-dark btn-circle btn-sm fas fa-edit"></i>
                            {% endif %}
                            <a href="{% url 'tools:suptech_detail' pk=obj.pk %}" title="Détail" class="btn btn-info btn-circle btn-sm" target="_blank"><i class="fas fa-info-circle"></i></a>
                        </td>
                        <td>{{ obj.id }}</td>
                        <td class="text-nowrap">{{ obj.date }}</td>
                        <td class="text-nowrap">{{ obj.user }}</td>
                        <td>{{ obj.xelon }}</td>
                        <td style="min-width: 15rem;">{{ obj.item }}</td>
                        <td class="text-nowrap">{{ obj.status }}</td>
                        <td class="text-nowrap">{{ obj.modified_by.first_name }} {{ obj.modified_by.last_name }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endif %}