<table class="table table-striped table-bordered table-condensed table-sm">
    <thead class="table-primary">
    <tr>
        <th colspan="2" class="text-primary text-uppercase">
            <i class="fas fa-info-circle mr-2"></i><span>INFO XELON :</span>
        </th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <td class="text-dark">Numéro de dossier</td>
        <td>{{ xelon.numero_de_dossier }}<a href="#" title="copie" onclick="textCopy('{{ xelon.numero_de_dossier }}')"><i class="fas fa-copy ml-2"></i></a></td>
    </tr>
    <tr>
        <td class="text-dark">V.I.N.</td>
        <td>{{ xelon.vin }}<a href="#" title="copie" onclick="textCopy('{{ xelon.vin }}')"><i class="fas fa-copy ml-2"></i></a></td>
    </tr>
    <tr>
        <td class="text-dark">Modèle produit</td>
        <td>{{ xelon.modele_produit }}</td>
    </tr>
    {% if xelon.swap_prod %}
        <tr class="font-weight-bold">
            <td class="text-dark">Réf. produit (SWAP)</td>
            <td>{{ xelon.swap_prod }}<a href="#" title="Copie" onclick="textCopy('{{ xelon.swap_prod }}')"><i class="fas fa-copy ml-2"></i></a></td>
        </tr>
    {% endif %}
    {% if xelon.swap_sn %}
        <tr class="font-weight-bold">
            <td class="text-dark">N° série produit (SWAP)</td>
            <td>{{ xelon.swap_sn }}<a href="#" title="Copie" onclick="textCopy('{{ xelon.swap_sn }}')"><i class="fas fa-copy ml-2"></i></a></td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-dark">Modèle véhicule</td>
        <td>{{ xelon.modele_vehicule }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date Retour</td>
        <td>{{ xelon.date_retour|date:"d/m/Y" }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark td-ihm">Date d'expédition attendue</td>
        <td class="{% if xelon.delai_expedition_attendue > 0 %}bg-danger text-white{% endif %}">
            {{ xelon.date_expedition_attendue|date:"d/m/Y" }}
            {% if xelon.delai_expedition_attendue %}
                <span class="ml-4">J {{ xelon.delai_expedition_attendue }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-dark">Type de clôture</td>
        <td>{{ xelon.type_de_cloture }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date de clôture</td>
        <td>{{ xelon.date_de_cloture|date:"d/m/Y" }}</td>
    </tr>
    <tr>
        <td class="text-dark">Nom technicien</td>
        <td>{{ xelon.nom_technicien }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark">Commentaire action</td>
        <td>{{ xelon.commentaire_action }}</td>
    </tr>
    <tr>
        <td class="text-dark">Commentaire FR</td>
        <td>{{ xelon.commentaire_de_la_fr }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark">Commentaire SAV Admin</td>
        <td>{{ xelon.commentaire_sav_admin }}</td>
    </tr>
    <tr>
        <td class="text-dark">Libellé de la fiche K</td>
        <td>{{ xelon.libelle_de_la_fiche_cas }}</td>
    </tr>
    {% if not xelon.code_magasin %}
        <tr>
            <td class="text-dark">Lieu de stockage</td>
            <td>{{ xelon.lieu_de_stockage }}</td>
        </tr>
    {% else %}
        <tr>
            <td class="text-dark">Code Magasin</td>
            <td>{{ xelon.code_magasin }}</td>
        </tr>
        <tr>
            <td class="text-dark">Code Zone</td>
            <td>{{ xelon.code_zone }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-dark">Dossier VIP</td>
        <td>{{ xelon.dossier_vip|yesno:'OUI,NON' }}</td>
    </tr>
    <tr>
        <td class="text-dark">Express</td>
        <td>{{ xelon.express|yesno:'OUI,NON' }}</td>
    </tr>
    <tr>
        <td class="text-dark">Appairage</td>
        <td>{% if xelon.appairage == '1' %}OUI{% else %}NON{% endif %}</td>
    </tr>
    <tr>
        <td class="text-dark">Télécodage</td>
        <td>{% if xelon.telecodage == '1' %}OUI{% else %}NON{% endif %}</td>
    </tr>

    </tbody>
</table>

{% if xelon.actions.all %}
    <div class="row">
        <section class="col-sm-12">
            <table class="table table-bordered table-striped table-sm mt-4">
                <thead class="table-primary">
                <tr>
                    <th colspan="8" class="text-primary text-uppercase">
                        <i class="fas fa-archive mr-2"></i><span>HISTORIQUE MODIFICATIONS :</span>
                    </th>
                </tr>
                <tr>
                    <th>Action</th>
                    <th>Modifié le</th>
                    <th>Modifié par</th>
                </tr>
                </thead>

                <tbody>

                {% for action in xelon.actions.all %}

                    <tr>
                        <td>{{ action.content|linebreaksbr }}</td>
                        <td>{{ action.modified_at }}</td>
                        <td>{{ action.modified_by }}</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </section>
    </div>
{% endif %}

{% if suptechs.all %}
    <div class="row">
        <section class="col-sm-12">
            <table class="table table-bordered table-striped table-sm mt-4">
                <thead class="table-primary">
                <tr>
                    <th colspan="8" class="text-primary text-uppercase">
                        <i class="fas fa-toolbox mr-2"></i><span>LISTE SUPTECH :</span>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="text-nowrap">N° Sup</th>
                    <th>Date</th>
                    <th>Qui</th>
                    <th class="text-nowrap">N° XELON</th>
                    <th>Objet</th>
                    <th>Status</th>
                    <th class="text-nowrap">Action par</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in suptechs %}

                    <tr>
                        <td class="bg-white text-nowrap" style="width: 60px;">
                            {% if perms.tools.change_suptech %}
                                <a href="{% url 'tools:suptech_update' pk=obj.pk %}" title="Actions réalisées"
                                   class="btn btn-success btn-circle btn-sm" target="_blank"><i class="fas fa-edit"></i></a>
                            {% else %}
                                <i class="btn btn-dark btn-circle btn-sm fas fa-edit"></i>
                            {% endif %}
                            <a href="{% url 'tools:suptech_detail' pk=obj.pk %}" title="Détail"
                               class="btn btn-info btn-circle btn-sm" target="_blank"><i class="fas fa-info-circle"></i></a>
                        </td>
                        <td>{{ obj.id }}</td>
                        <td class="text-nowrap">{{ obj.date }}</td>
                        <td class="text-nowrap">{{ obj.user }}</td>
                        <td>{{ obj.xelon }}</td>
                        <td style="min-width: 15rem;">{{ obj.item }}</td>
                        <td class="text-nowrap">{{ obj.status }}</td>
                        <td class="text-nowrap">{{ obj.modified_by.first_name }} {{ obj.modified_by.last_name }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endif %}