{% load i18n widget_tweaks %}

<div class="{% if form.non_field_errors %}invalid{% endif %} text-center bg-danger text-white text-uppercase font-weight-bold mb-2">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
<div class="row">
    <section class="col-sm-3">
        <button class="ihm-email btn btn-secondary btn-block mb-3" data-id="{% url 'squalaetp:email' xelon.pk %}">Envoi Email</button>
        <button class="update-corvet btn btn-secondary btn-block mb-3" data-id="{% url 'squalaetp:edit' xelon.pk %}">
            Modification CORVET
        </button>
        <button class="log-btn btn btn-secondary btn-block" data-id="{% url 'squalaetp:log_detail' xelon.pk %}">Info VIN Raspeedi</button>
    </section>
    <section class="col-sm-9">
        {% for field in form %}
            <div class="form-group">
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-7 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-5">
                        {% render_field field class="form-control" %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                                <p class="help-block font-weight-bold text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
