{% load i18n custom_tags %}

<div class="row">
    <section class="col-lg-6">
        {% if corvet %}
            <a class="btn btn-primary btn-icon-split mb-3" href="{% url 'psa:can_tools' %}" target="_blank">
                <span class="icon text-white-50"><i class="fas fa-gamepad"></i></span>
                <span class="text">{% trans "Remote" %}</span>
            </a>
        {% endif %}

        <table class="table table-secondary table-responsive table-sm w-100 d-block d-md-table">
            <thead>
            <tr>
                <th colspan="2" class="text-primary">Info XELON :</th>
            </tr>
            </thead>
            <tbody class="table-borderless">
            <tr>
                <td class="text-dark td-ihm-40">Numéro de dossier</td>
                <td id="xelon">
                    {{ xelon.numero_de_dossier }}
                    <a href="#" title="Code barre" data-toggle="modal" data-target="#xelonModal"><i class="fas fa-barcode ml-2"></i></a>
                    <a href="#" title="Copie" onclick="textCopy('{{ xelon.numero_de_dossier }}')"><i class="fas fa-copy ml-1"></i></a>
                </td>
            </tr>
            <tr>
                <td class="text-dark td-ihm-40">V.I.N.</td>
                <td>
                    {{ xelon.vin }}
                    <a href="#" title="Code barre" data-toggle="modal" data-target="#vinModal"><i class="fas fa-barcode ml-2"></i></a>
                    <a href="#" title="Copie" onclick="textCopy('{{ xelon.vin }}')"><i class="fas fa-copy ml-1"></i></a>

                </td>
            </tr>
            <tr>
                <td class="text-dark td-ihm-40">Modèle produit</td>
                <td>{{ xelon.modele_produit }}</td>
            </tr>
            {% if xelon.new_sn %}
                <tr>
                    <td class="text-dark td-ihm-40">Nouveau S/N</td>
                    <td class="font-weight-bold text-white bg-warning">{{ xelon.new_sn }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="text-dark td-ihm-40">Modèle véhicule</td>
                <td>{{ xelon.modele_vehicule }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm-40">Date d'expédition attendue</td>

                {% if xelon.date_expedition_attendue %}
                    {% with delay=xelon.delai_expedition_attendue %}
                        <td class="font-weight-bold {% if delay > 0 %}text-white bg-danger{% elif delay > -1 %}bg-warning{% else %}text-white bg-success{% endif %}">
                            {{ xelon.date_expedition_attendue |date:"d/m/Y" }}<span class="ml-4">J {{ delay }}</span>
                        </td>
                    {% endwith %}
                {% else %}
                    <td>???</td>
                {% endif %}
            </tr>
            <tr>
                <td class="text-dark td-ihm-40">Option télécodage</td>
                <td class="font-weight-bold {% if xelon.telecodage == '1' %}bg-danger text-white{% endif %}">
                    {{ xelon.telecodage|boolean|upper }}
                </td>
            </tr>
            <tr>
                <td class="text-dark td-ihm-40">Option appairage</td>
                <td class="font-weight-bold {% if xelon.appairage == '1' %}bg-danger text-white{% endif %}">
                    {{ xelon.appairage|boolean|upper }}
                </td>
            </tr>
            {% if xelon.product.animator %}
                {% with user=xelon.product.animator %}
                    <tr>
                        <td class="text-dark td-ihm-40">Animateur d'ilot</td>
                        <td class="font-weight-bold">
                            <a href="mailto:{{ user.email }}?subject={{ xelon.numero_de_dossier }} - {{ xelon.modele_produit }}"
                               target="_blank">{{ user.email }}</a>
                        </td>
                    </tr>
                {% endwith %}
            {% endif %}
            </tbody>
        </table>

        {% include 'psa/format/prods_detail.html' %}

    </section>
    <section class="col-lg-6">
        <h3 class="text-gray-800">Données CORVET :</h3>

        {% include 'psa/format/corvet_table.html' with object=corvet %}

    </section>
</div>

{% include 'squalaetp/detail/detail_sparepart.html' %}