<table class="table table-striped table-condensed table-sm">
    <tbody>

    <tr>
        <td class="text-dark">Numéro de dossier</td>
        <td>{{ xelon.numero_de_dossier }}<a href="#" title="copie"
                                            onclick="textCopy('{{ xelon.numero_de_dossier }}')"><i
                class="fas fa-copy ml-2"></i></a></td>
    </tr>
    <tr>
        <td class="text-dark">V.I.N.</td>
        <td>{{ xelon.vin }}<a href="#" title="copie" onclick="textCopy('{{ xelon.vin }}')"><i
                class="fas fa-copy ml-2"></i></a></td>
    </tr>
    <tr>
        <td class="text-dark">Modèle produit</td>
        <td>{{ xelon.modele_produit }}</td>
    </tr>
    <tr>
        <td class="text-dark">Modèle véhicule</td>
        <td>{{ xelon.modele_vehicule }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date Retour</td>
        <td>{{ xelon.date_retour|default_if_none:"" }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark td-ihm">Date d'expédition attendue</td>
        <td class="{% if xelon.delai_expedition_attendue > 0 %}bg-danger text-white{% endif %}">
            {{ xelon.date_expedition_attendue|default_if_none:"" }}
            {% if xelon.delai_expedition_attendue %}
                <span class="ml-4">J {{ xelon.delai_expedition_attendue }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="text-dark">Type de clôture</td>
        <td>{{ xelon.type_de_cloture }}</td>
    </tr>
    <tr>
        <td class="text-dark">Date de clôture</td>
        <td>{{ xelon.date_de_cloture|default_if_none:"" }}</td>
    </tr>
    <tr>
        <td class="text-dark">Nom technicien</td>
        <td>{{ xelon.nom_technicien }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark">Commentaire action</td>
        <td>{{ xelon.commentaire_action }}</td>
    </tr>
    <tr>
        <td class="text-dark">Commentaire FR</td>
        <td>{{ xelon.commentaire_de_la_fr }}</td>
    </tr>
    <tr class="font-weight-bold">
        <td class="text-dark">Commentaire SAV Admin</td>
        <td>{{ xelon.commentaire_sav_admin }}</td>
    </tr>
    <tr>
        <td class="text-dark">Libellé de la fiche K</td>
        <td>{{ xelon.libelle_de_la_fiche_cas }}</td>
    </tr>
    <tr>
        <td class="text-dark">Lieu de stockage</td>
        <td>{{ xelon.lieu_de_stockage }}</td>
    </tr>
    <tr>
        <td class="text-dark">Dossier VIP</td>
        <td>{{ xelon.dossier_vip|yesno:'OUI,NON' }}</td>
    </tr>
    <tr>
        <td class="text-dark">Express</td>
        <td>{{ xelon.express|yesno:'OUI,NON' }}</td>
    </tr>
    <tr>
        <td class="text-dark">Appairage</td>
        <td>{% if xelon.appairage == '1' %}OUI{% else %}NON{% endif %}</td>
    </tr>
    <tr>
        <td class="text-dark">Télécodage</td>
        <td>{% if xelon.telecodage == '1' %}OUI{% else %}NON{% endif %}</td>
    </tr>

    </tbody>
</table>
