{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            <li class="nav-item active">
                <a class="nav-link active" href="{% url 'reman:base_ref_table' %}">Réf. REMAN ECU</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'reman:ecu_hw_table' %}">Réf. HW ECU</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'volvo:reman_ref_table' %}">Réf. REMAN SEM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'volvo:sem_hw_table' %}">Réf. HW SEM</a>
            </li>

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <button class="create-ref-reman btn btn-sm btn-primary mb-3"
            {% if not perms.reman.add_ecurefbase %}disabled{% endif %}>
        <i class="fas fa-plus-square text-white-50"></i> Ajout Réf. REMAN
    </button>
    <button class="create-ecu-hw btn btn-sm btn-primary mb-3 ml-3"
            {% if not perms.reman.add_ecutype %}disabled{% endif %}>
        <i class="fas fa-plus-square text-white-50"></i> Ajout Réf. HW
    </button>
    <a class="btn btn-sm btn-success mb-3 ml-3" href="{% url 'reman:ecu_hw_generate' %}">Générer Scan IN/OUT</a>

    <table class="table table-bordered table-sm text-nowrap" id="baseRefTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th>Référence REMAN</th>
            <th>Module Moteur</th>
            <th>Réf. Hardware</th>
            <th>Fournisseur</th>
            <th>XELON - Code produit</th>
            <th>REF_CAL_OUT</th>
            <th>REF_PSA_OUT</th>
            <th>REQ_DIAG</th>
            <th>OPENDIAG</th>
            <th>REQ_REF</th>
            <th>REF_MAT</th>
            <th>REF_COMP</th>
            <th>REQ_CAL</th>
            <th>CAL_KTAG</th>
            <th>REQ_STATUS</th>
            <th>STATUS</th>
            <th>TEST_CLEAR_MEMORY</th>
            <th>CLE_APPLI</th>
        </tr>
        </thead>
        <tbody>

        {% for ref in refs %}

            <tr>
                <td class="bg-white text-nowrap" style="width: 60px;">
                    {% if perms.reman.change_ecurefbase %}
                        <button title="Modification" class="bs-large-modal btn btn-success btn-circle btn-sm"
                                data-form-url="{% url 'reman:ref_reman_update' ref.pk %}">
                            <i class="fas fa-edit"></i>
                        </button>
                    {% else %}
                        <i class="btn btn-dark btn-circle btn-sm fas fa-edit"></i>
                    {% endif %}
                    {% if perms.reman.add_ecurefbase %}
                        <button title="Copie" class="bs-large-modal btn btn-primary btn-circle btn-sm"
                                data-form-url="{% url 'reman:ref_reman_create' %}?ref={{ ref.reman_reference }}">
                            <i class="fas fa-copy"></i>
                        </button>
                    {% else %}
                        <i class="btn btn-dark btn-circle btn-sm fas fa-copy"></i>
                    {% endif %}
                </td>
                <td>{{ ref.reman_reference }}</td>
                <td>{{ ref.ecu_type.technical_data }}</td>
                <td>{{ ref.ecu_type.hw_reference }}</td>
                <td>{{ ref.ecu_type.supplier_oe }}</td>
                <td>{{ ref.ecu_type.spare_part.code_produit }}</td>
                <td>{{ ref.ref_cal_out }}</td>
                <td>{{ ref.ref_psa_out }}</td>
                <td>{{ ref.req_diag }}</td>
                <td>{{ ref.open_diag }}</td>
                <td>{{ ref.req_ref }}</td>
                <td>{{ ref.ref_mat }}</td>
                <td>{{ ref.ref_comp }}</td>
                <td>{{ ref.req_cal }}</td>
                <td>{{ ref.cal_ktag }}</td>
                <td>{{ ref.req_status }}</td>
                <td>{{ ref.status }}</td>
                <td>{{ ref.test_clear_memory }}</td>
                <td>{{ ref.cle_appli }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'reman/js/reman-tables.js' %}"></script>

{% endblock %}