{% load inlinecss %}
{% inlinecss 'css/email.css' %}

    <!DOCTYPE html>
    <html lang="fr">

    <body>

    <p> Vous trouvez ci-dessous la liste des lots REMAN en cours.</p>

    <table class="table table-bordered text-nowrap">
        <thead>
        <tr>
            <th>Numéro de lot</th>
            <th>Réf. REMAN</th>
            <th>Réparés</th>
            <th>Emballées</th>
            <th>Restants</th>
            <th>Date de Debut</th>
            <th>Date de Fin</th>
            <th>Modèle Produit</th>
            <th>Fabriquant</th>
        </tr>
        </thead>
        <tbody>

        {% for batch in current_batchs %}

            {% include 'reman/email_format/tr_batch_format.html' %}

        {% endfor %}

        </tbody>
    </table>

    {% if next_batchs %}

        <p> Vous trouvez ci-dessous la liste des prochains lots REMAN à faire.</p>

        <table class="table table-bordered text-nowrap">
            <thead>
            <tr>
                <th>Numéro de lot</th>
                <th>Réf. REMAN</th>
                <th>Réparés</th>
                <th>Emballées</th>
                <th>Restants</th>
                <th>Date de Debut</th>
                <th>Date de Fin</th>
                <th>Modèle Produit</th>
                <th>Fabriquant</th>
            </tr>
            </thead>
            <tbody>

            {% for batch in next_batchs %}

                {% include 'reman/email_format/tr_batch_format.html' %}

            {% endfor %}

            </tbody>
        </table>

    {% endif %}

    <p>Cordialement</p>

    <p>CSD Dashboard</p>

    </body>
    </html>

{% endinlinecss %}