{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{ title }}</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Réf. boîtier</th>
                        <th>Produit</th>
                        <th>Façade</th>
                        <th>Type</th>
                        <th>DAB</th>
                        <th>Caméra</th>
                        <th>Dump PEEDI</th>
                        <th>CD Version</th>
                        <th>Media</th>
                        <th>Carto</th>
                        <th>Dump Renesas</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Réf. boîtier</th>
                        <th>Produit</th>
                        <th>Façade</th>
                        <th>Type</th>
                        <th>DAB</th>
                        <th>Caméra</th>
                        <th>Dump PEEDI</th>
                        <th>CD Version</th>
                        <th>Media</th>
                        <th>Carto</th>
                        <th>Dump Renesas</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for prod in products %}

                        <tr>
                            <td>{{ prod.ref_boitier }}</td>
                            <td>{{ prod.produit }}</td>
                            <td>{{ prod.facade }}</td>
                            <td>{{ prod.type }}</td>
                            <td>{{ prod.dab }}</td>
                            <td>{{ prod.cam }}</td>
                            <td>{{ prod.dump_peedi }}</td>
                            <td>{{ prod.cd_version }}</td>
                            <td>{{ prod.media }}</td>
                            <td>{{ prod.carto }}</td>
                            <td>{{ prod.dump_renesas }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block customcss %}

    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/vendor/datatables/datatables.min.css' %}"/>

{% endblock %}


{% block customjs %}

    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'dashboard/vendor/datatables/datatables.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>

{% endblock %}