{% extends 'format/datatables_format.html' %}

{% load static %}

{% block table_content %}

    <table class="table table-bordered text-nowrap" id="raspTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th class="all"></th>
            <th class="all"></th>
            <th class="all">Réf. boîtier</th>
            <th>Produit</th>
            <th>Façade</th>
            <th>Type</th>
            <th class="all">Dump PEEDI</th>
            <th class="all">Dump Renesas</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Réf. boîtier</th>
            <th>Produit</th>
            <th>Façade</th>
            <th>Type</th>
            <th>Dump PEEDI</th>
            <th>Dump Renesas</th>
        </tr>
        </tfoot>
        <tbody>

        {% for prod in products %}

            <tr {% if prod.dump_renesas %}class="bg-success text-gray-700"{% endif %}>
                <td class="bg-white">
                    <a href="{% url 'raspeedi:edit' ref_case=prod.ref_boitier %}" title="Modification" class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                </td>
                <td class="bg-white">
                    <a href="{% url 'raspeedi:detail' ref_case=prod.ref_boitier %}" title="Détail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                </td>
                <td>{{ prod.ref_boitier }}</td>
                <td>{{ prod.produit }}</td>
                <td>{{ prod.facade }}</td>
                <td>{{ prod.type }}</td>
                <td>{{ prod.dump_peedi }}</td>
                <td>{{ prod.dump_renesas }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'raspeedi/js/rasp-tables.js' %}"></script>

{% endblock %}