{% extends 'format/datatables_format.html' %}

{% load i18n %}

{% load static %}

{% block table_content %}

    <form class="form-inline" method="post" action="{% url 'raspeedi:unlock_prods' %}">

        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.unlock.id_for_label }}" class="mb-2 mr-sm-4">Numéro de dossier</label>

            {{ form.unlock }}

        </div>

        <button type="submit" class="btn btn-success btn-icon-split mb-2">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">{% trans "Add" %}</span>
        </button>

    </form>

    {% if errors %}
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    {% endif %}

    <hr>

    <table class="table table-bordered" id="unlockTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Numéro de dossier</th>
            <th>Utilisateur</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>

        {% for prod in products %}

            <tr>
                <td>{{ prod.unlock.numero_de_dossier }}</td>
                <td>{{ prod.user }}</td>
                <td>{{ prod.created_at }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'raspeedi/js/rasp-tables.js' %}"></script>

{% endblock %}