{% extends 'format/datatables_format.html' %}

{% load i18n %}

{% load static %}

{% block table_content %}

    <form class="form-inline" method="post" action="">

        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.unlock.id_for_label }}" class="mb-2 mr-sm-4">Numéro de dossier</label>

            {{ form.unlock }}

        </div>

        <button type="submit" class="btn btn-success btn-icon-split mb-2 mr-4">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span><span
                class="text">{% trans "Add" %}</span>
        </button>

        <a class="btn btn-primary btn-icon-split mb-2" href="{% url 'raspeedi:unlock_prods' %}">
            <span class="icon text-white-50"><i class="fas fa-sync"></i></span>
            <span class="text">{% trans "Refresh" %}</span>
        </a>

    </form>

    {% if errors %}
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    {% endif %}

    <hr>

    <table class="table table-bordered text-nowrap" id="unlockDeleteTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Numéro de dossier</th>
            <th>Produit</th>
            <th>V.I.N.</th>
            <th>Utilisateur</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>

        {% for prod in products %}

            <tr>
                <td>
                    {% if perms.raspeedi.delete_unlockproduct %}
                        <button data-form-url="{% url 'raspeedi:unlock_delete' prod.pk %}" title="Suppression" class="bs-modal btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    {% else %}
                        <i class="btn btn-dark btn-circle btn-sm fas fa-trash-alt"></i>
                    {% endif %}
                </td>
                <td>{{ prod.unlock.numero_de_dossier }}</td>
                <td>{{ prod.unlock.modele_produit }}</td>
                <td>{{ prod.unlock.vin }}</td>
                <td>{{ prod.user }}</td>
                <td>{{ prod.created_at }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'raspeedi/js/rasp-tables.js' %}"></script>

{% endblock %}