<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSD : {{ title }}</title>

    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"
          type="text/css">

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">



    {% block customcss %} {% endblock %}

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">

{% block basecontent %} {% endblock %}


<!-- Bootstrap core JavaScript-->
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/moment.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'dashboard/js/custom.js' %}"></script>

{% block customjs %} {% endblock %}

{% block extrascripts %} {% endblock %}

<script type="text/javascript">
    $(function () {
        // Log in buttons
        $(".login-btn").modalForm({formURL: "{% url 'dashboard:login' %}"});
        $(".logout-btn").modalForm({formURL: "{% url 'dashboard:logout' %}"});

        $(".tag-xelon-btn").modalForm({formURL: "{% url 'tools:tag_xelon' %}", modalID: "#create-modal"});

        $(".batch-btn").modalForm({formURL: "{% url 'reman:create_batch' %}"});

        $(".corvet-btn").modalForm({formURL: "{% url 'squalaetp:create-corvet' %}", modalID: "#large-modal"});

        $(".create-post").modalForm({formURL: "{% url 'dashboard:create_post' %}", modalID: "#large-modal"});

        // Update post buttons
        $(".update-post").each(function () {
            $(this).modalForm({formURL: $(this).data('id'), modalID: "#large-modal"});
        });

        // Delete post buttons
        $(".delete-post").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        // log file buttons
        $(".log-btn").each(function () {
            $(this).modalForm({formURL: $(this).data('id'), modalID: "#large-modal"});
        });

        // Hide message
        $(".alert").fadeTo(5000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
    });

    clock();
    setInterval(clock, 1000);
</script>

</body>

</html>
