{% load i18n %}
{% load user_tags %}

{% if user.is_authenticated and user|has_group:'cellule' or user.is_superuser %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        {% trans 'Tools' %}
    </div>

    <!-- Nav Item - Software Settings Menu -->
    {% with name="Software" icon="fa-table" %}

        <!-- Nav Item - TAG Xelon Multi -->
        <li class="nav-item">
            <a class="tag-xelon-multi nav-link" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>TAG Xelon Multi</span></a>
        </li>

        <!-- Nav Item - Software -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ name }}"
               aria-expanded="true" aria-controls="collapse{{ name }}">
                <i class="fas fa-fw {{ icon }}"></i>
                <span>{{ name }}</span>
            </a>
            <div id="collapse{{ name }}" class="collapse" aria-labelledby="heading{{ name }}"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Informations :</h6>
                    <a class="collapse-item"
                       href="{% url 'tools:soft-list' %}">{% trans "Software list" %}</a>
                    <div class="collapse-divider"></div>
                    {% if user|has_group:'cellule' %}
                        <h6 class="collapse-header">Edition :</h6>
                        <a class="collapse-item"
                           href="{% url 'tools:soft-add' %}">{% trans "Software Add" %}</a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endwith %}

{% endif %}