{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'squalaetp/tab_select.html' with select=query_param %}

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <table class="table table-bordered table-sm text-nowrap display" id="xelonTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th class="all">Numéro de dossier</th>
            <th>V.I.N.</th>
            <th class="all">Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Date Retour</th>
            <th class="all">Type de clôture</th>
            <th>Nom Technicien</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        let PERM;
        {% if perms.squalaetp.change_xelon and perms.psa.change_corvet%}
            PERM = true;
        {% endif %}
        const URL_AJAX = "{% url 'squalaetp:api_xelon-list' %}?filter={{ query_param }}";
    </script>
    <script type="text/javascript" src="{% static 'squalaetp/js/ajax-xelon-tables.js' %}"></script>

{% endblock %}
