{% extends 'dashboard/datatables_format.html' %}

{% load static %}

{% block table_content %}

    <div class="text-center">
        <a class="col-sm-2 align-self-center btn btn-primary btn-user"
           href="{% url 'squalaetp:export-corvet-csv' %}">Export CORVET CSV</a>
        <a class="col-sm-2 align-self-center btn btn-primary btn-user"
           href="{% url 'squalaetp:export_ecu_csv' %}">Export ECU CSV</a>
    </div>

    <table class="table table-bordered" id="corvetTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>V.I.N.</th>
            <th>Réf. Radio</th>
            <th>CAL. Radio</th>
            <th>Réf. Télématique</th>
            <th>CAL. Télématique</th>
            <th>Réf. ECU Moteur</th>
            <th>SOFT. ECU Moteur</th>
            <th>réf. BSI</th>
            <th>SOFT. BSI</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'squalaetp/js/corvet-tables.js' %}"></script>

{% endblock %}