{% extends 'dashboard/datatables_format.html' %}

{% load static %}

{% block table_content %}

    <div class="text-center">
        <a class="col-sm-2 align-self-center btn btn-primary btn-user"
           href="{% url 'squalaetp:export-corvet-csv' %}">Export CSV</a>
    </div>

    <table class="table table-bordered" id="corvetTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>V.I.N.</th>
            <th>Récepteur Radio</th>
            <th>CAL. Récepteur Radio</th>
            <th>Boitier Télématique</th>
            <th>CAL. Boitier Télématique</th>
{#            <th>Calculateur Moteur</th>#}
{#            <th>SOFT. Calculateur Moteur</th>#}
            <th>N° série</th>
            <th></th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'squalaetp/js/corvet-tables.js' %}"></script>

{% endblock %}