{% extends 'dashboard/format/detail_format.html' %}

{% load static %}

{% load i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="detail-list" role="tablist">

            {% include 'squalaetp/tab_select.html' with name='xelon' tab_title='Info Xelon' %}

            {% if corvet %}

                {% include 'squalaetp/tab_select.html' with name='ihm' tab_title="IHM Extraction" %}

                <li class="nav-item">
                    <a class="nav-link" href="#corvet" role="tab" aria-controls="corvet" aria-selected="false">
                        {% trans "Corvet data" %}
                    </a>
                </li>
                {% if log_file.files %}
                    <li class="nav-item">
                        <a class="nav-link" href="#logs" role="tab" aria-controls="logs" aria-selected="false">
                            {% trans "Log Files" %}
                        </a>
                    </li>
                {% endif %}
                {% if file.modele_produit == 'NAC' %}
                    <li class="nav-item">
                        <a class="nav-link" href="#nac" role="tab" aria-selected="false">
                            {% trans "Info NAC" %}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#" role="tab" data-toggle="modal" data-target="#vinModal"
                       aria-selected="false">
                        {% trans "VIN Barcode" %}
                    </a>
                </li>
            {% endif %}
            {% if perms.squalaetp.change_xelon and perms.squalaetp.change_corvet %}
            <li class="nav-item">
                <a class="update-corvet nav-link" href="#" data-id="{% url 'squalaetp:corvet_edit' file.pk %}"
                   role="tab" aria-selected="false">
                    {% trans "CORVET Update" %}
                </a>
            </li>
        {% endif %}
        </ul>
    </div>

{% endblock %}

{% block customcss %}

    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block detail_content %}

    <div class="tab-content mt-3">

        <!-- Detail Xelon -->
        <div class="tab-pane {% if select == 'xelon' %}active{% endif %}" id="xelon" role="tabpanel"
             aria-labelledby="xelon-tab">

            {% include 'squalaetp/detail_xelon.html' %}

        </div>

        <!-- Detail IHM -->
        <div class="tab-pane {% if select == 'ihm' %}active{% endif %}" id="ihm" role="tabpanel"
             aria-labelledby="ihm-tab">

            {% include 'squalaetp/detail_ihm.html' %}

        </div>

        <!-- Detail NAC -->
        <div class="tab-pane" id="nac" role="tabpanel" aria-labelledby="nac-tab">
            <a class="nav-link" role="tab" aria-selected="false" target="_blank"
               href="https://www.peugeot.fr/marque-et-technologie/services_connectes/mise-a-jour-cartographie-gps.html">
                Mise à jour cartographie et système pour les produits NAC
            </a>
        </div>

        <!-- Detail Corvert -->
        <div class="tab-pane" id="corvet" role="tabpanel" aria-labelledby="corvet-tab">
            <table class="table table-striped table-condensed">
                <tbody>

                {% for key, value in dict_corvet.items %}
                    <tr>
                        <td class="text-dark">{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <!-- Detail LOGs -->
        <div class="tab-pane" id="logs" role="tabpanel" aria-labelledby="logs-tab">

            {% include 'squalaetp/detail_logs.html' %}

        </div>

    </div>


{% endblock %}

{% block custommodal %}

    <!-- Logout Modal-->
    <div class="modal fade" id="vinModal" tabindex="-1" role="dialog" aria-labelledby="vinModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vinModalLabel">VIN produit : {{ file.numero_de_dossier }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src='https://barcode.tec-it.com/barcode.ashx?data={{ file.vin }}%0A&code=&multiplebarcodes=false&translate-esc=false&unit=Fit&dpi=96&imagetype=Gif&rotation=0&color=%23000000&bgcolor=%23ffffff&qunit=Mm&quiet=0'
                         alt='{{ file.vin }}'/>
                    <hr>
                    <div class="text-center" style='padding:10px; font-size:15px; font-family:Arial,Helvetica;'>
                        <a href='https://www.tec-it.com' title='Barcode Software by TEC-IT'>
                            <img src='https://www.tec-it.com/pics/banner/web/TEC-IT_Banner_120x42.gif'
                                 alt='Barcode Software by TEC-IT'/>
                        </a>
                        <br/>
                        <a href='https://www.tec-it.com' title='Barcode Software by TEC-IT'>Barcode Software</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block customjs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'squalaetp/js/custom.js' %}"></script>

{% endblock %}