{% load i18n %}

<div class="row">
    <section class="col-sm-6">
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-600">Données Xelon :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Numéro de dossier</td>
                <td>{{ file.numero_de_dossier }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">V.I.N.</td>
                <td>{{ file.vin }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Modèle produit</td>
                <td>{{ file.modele_produit }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Modèle véhicule</td>
                <td>{{ file.modele_vehicule }}</td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-600">Données Raspeedi :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Façade</td>
                <td>{{ raspeedi.facade }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Type</td>
                <td>{{ raspeedi.type }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Option DAB</td>
                <td>{{ raspeedi.dab }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Option Caméra</td>
                <td>{{ raspeedi.cam }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Support Cartographie</td>
                <td>{{ raspeedi.media }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Version Cartographie</td>
                <td>{{ raspeedi.carto }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="col-sm-6">
        <table class="table table-bordered table-striped">
            <caption style="caption-side: top;">
                <h3 class="text-gray-600">Données Corvet :</h3>
            </caption>
            <tbody>
            <tr>
                <td class="text-dark td-ihm">Réf HW RAD</td>
                <td>{{ corvet.electronique_14f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL RAD</td>
                <td>{{ corvet.electronique_94f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série RAD</td>
                <td>{{ corvet.electronique_44f }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Réf HW NAV</td>
                <td>{{ corvet.electronique_14x }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL NAV</td>
                <td>{{ corvet.electronique_94x }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série NAV</td>
                <td>{{ corvet.electronique_44x }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Réf HW ECU moteur</td>
                <td>{{ corvet.electronique_14a }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL ECU moteur</td>
                <td>{{ corvet.electronique_94a }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série ECU moteur</td>
                <td>{{ corvet.electronique_44a }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">Réf HW BSI</td>
                <td>{{ corvet.electronique_14b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL BSI</td>
                <td>{{ corvet.electronique_94b }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">N° série BSI</td>
                <td>{{ corvet.electronique_44b }}</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
