{% load i18n %}


<table class="table table-striped table-condensed">
    <tr>
        <td class="text-dark">Numéro de dossier</td>
        <td>{{ file.numero_de_dossier }}</td>
    </tr>
    <tr>
        <td class="text-dark">V.I.N.</td>
        <td>{{ file.vin }}</td>
    </tr>
    <tr>
        <td class="text-dark">Modèle produit</td>
        <td>{{ file.modele_produit }}</td>
    </tr>
    <tr>
        <td class="text-dark">Modèle véhicule</td>
        <td>{{ file.modele_vehicule }}</td>
    </tr>
    <tr>
        <td class="text-dark">Réf HW RAD</td>
        <td>{{ corvet.electronique_14f }}</td>
    </tr>
    <tr>
        <td class="text-dark">CAL RAD</td>
        <td>{{ corvet.electronique_94f }}</td>
    </tr>
    <tr>
        <td class="text-dark">Réf HW NAV</td>
        <td>{{ corvet.electronique_14x }}</td>
    </tr>
    <tr>
        <td class="text-dark">CAL NAV</td>
        <td>{{ corvet.electronique_94x }}</td>
    </tr>
    <tr>
        <td class="text-dark">Réf HW ECU moteur</td>
        <td>{{ corvet.electronique_14a }}</td>
    </tr>
    <tr>
        <td class="text-dark">CAL ECU moteur</td>
        <td>{{ corvet.electronique_34a }}</td>
    </tr>
</table>

<hr>
<h3 class="h3 mb-4 text-gray-800">Modification des données :</h3>

<form method="post" action="{% url 'squalaetp:xelon-edit' file_id=file.id %}">

    {% csrf_token %}

    <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">

            {{ form.vin }}

        </div>
    </div>

    <div class="form-group">
        Pour récupérer les données XML, cliquer sur le lien
        <a href="https://www.repairnav.com/clarionservice_v2/corvet.xhtml" target="_blank">CORVET</a>.
    </div>

    <div class="form-group">

        {{ form.xml_data }}

    </div>

    {% if errors %}
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    {% endif %}

    <button name="btn_corvet_insert" type="submit"
            class="col-sm-4 offset-sm-4 align-self-center btn btn-primary btn-user btn-block">
        {% trans "Submit" %}
    </button>
</form>
