{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block table_content %}

    <table class="table table-bordered table-sm text-nowrap" id="stockTable" style="width: 100%;">
        <thead>
        <tr>
            <th class="all">Code produit</th>
            <th>Code zone</th>
            <th>Code Emplacement</th>
            <th>Cumul Dispo</th>
            <th>Code magasin</th>
            <th>Code site</th>
        </tr>
        </thead>
        <tbody>

        {% for stock in stocks %}

            <tr>
                <td>{{ stock.code_produit.name }}</td>
                <td>{{ stock.code_zone }}</td>
                <td>{{ stock.code_emplacement }}</td>
                <td>{{ stock.cumul_dispo|default:"" }}</td>
                <td>{{ stock.code_magasin }}</td>
                <td>{{ stock.code_site|default:"" }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'squalaetp/js/stock-tables.js' %}"></script>

{% endblock %}