{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block table_content %}

    <table class="table table-bordered table-sm text-nowrap" id="stockTable" style="width: 100%;">
        <thead>
        <tr>
            <th class="all">Code produit</th>
            <th>Code zone</th>
            <th>Code Emplacement</th>
            <th>Cumul Dispo</th>
            <th>Code magasin</th>
            <th>Code site</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        const URL_AJAX = "{% url 'squalaetp:api_stock-list' %}";
    </script>
    <script type="text/javascript" src="{% static 'squalaetp/js/squalaetp-tables.js' %}"></script>

{% endblock %}