{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'squalaetp/tab_select.html' with select='temp' %}

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <table class="table table-bordered table-sm text-nowrap display" id="temporaryTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th class="all">Numéro de dossier</th>
            <th>V.I.N.</th>
            <th class="all">Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Actif</th>
            <th>Date de fin</th>
            <th>Créé le</th>
            <th>Par</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        const URL_AJAX = "{% url 'squalaetp:api_temporary-list' %}";
    </script>
    <script type="text/javascript" src="{% static 'squalaetp/js/squalaetp-tables.js' %}"></script>

{% endblock %}
