{% extends 'format/datatables_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'squalaetp/tab_select.html' with select='temp' %}

        </ul>
    </div>

{% endblock %}

{% block table_content %}

    <button class="bs-modal btn btn-primary mb-3 mr-2" data-form-url="{% url 'squalaetp:temporary_create' %}">
        Ajout dossier temporaire
    </button>
    <a class="btn btn-success mb-3" href="{% url 'squalaetp:generate' %}">Générer Squalaetp</a>

    <table class="table table-bordered table-sm text-nowrap display" id="temporaryActiveTable" style="width: 100%;">
        <thead>
        <tr>
            <th></th>
            <th class="all">Numéro de dossier</th>
            <th>V.I.N.</th>
            <th class="all">Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Actif</th>
            <th>Date de fin</th>
            <th>Créé le</th>
            <th>Par</th>
        </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
                <td class="text-nowrap" style="width: 30px;">
                    {% if perms.squalaetp.change_xelontemporary %}
                        <a href="#" title="Modification" data-form-url="{% url 'squalaetp:temporary_update' pk=obj.pk %}" class="bs-modal btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    <a  href="{% url 'squalaetp:detail' obj.pk %}?filter=temp" type="button" title="Detail" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>'
                </td>
                <td>{{ obj.numero_de_dossier }}</td>
                <td>{{ obj.vin }}</td>
                <td>{{ obj.modele_produit }}</td>
                <td>{{ obj.modele_vehicule }}</td>
                <td>{{ obj.is_active }}</td>
                <td>{{ obj.end_date }}</td>
                <td>{{ obj.created_at }}</td>
                <td>{{ obj.created_by }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr class="mt-5">

    <h4 class="font-weight-bold">HISTORIQUE :</h4>

    <table class="table table-bordered table-sm text-nowrap display" id="temporaryTable" style="width: 100%;">
        <thead>
        <tr>
            <th class="text-nowrap" style="width: 30px;"></th>
            <th class="all">Numéro de dossier</th>
            <th>V.I.N.</th>
            <th class="all">Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Actif</th>
            <th>Date de fin</th>
            <th>Créé le</th>
            <th>Par</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        const URL_AJAX = "{% url 'squalaetp:api_temporary-list' %}";
    </script>
    <script type="text/javascript" src="{% static 'squalaetp/js/squalaetp-tables.js' %}"></script>

{% endblock %}
