{% extends 'dashboard/datatables_format.html' %}

{% block table_content %}

    <table class="table table-bordered" id="xelonTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Numéro de dossier</th>
            <th>V.I.N.</th>
            <th>Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Type de clôture</th>
            <th>Date Retour</th>
            <th>Date clôture</th>
            <th>Nom Technicien</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Numéro de dossier</th>
            <th>V.I.N.</th>
            <th>Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Type de clôture</th>
            <th>Date Retour</th>
            <th>Date clôture</th>
            <th>Nom Technicien</th>
        </tr>
        </tfoot>
        <tbody>

        {% for file in files %}

            <tr>
                <td>{{ file.numero_de_dossier }}</td>
                <td>{{ file.vin }}</td>
                <td>{{ file.modele_produit }}</td>
                <td>{{ file.modele_vehicule }}</td>
                <td>{{ file.type_de_cloture }}</td>
                <td>{{ file.date_retour }}</td>
                <td>{{ file.date_de_cloture }}</td>
                <td>{{ file.nom_technicien }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
