{% extends 'dashboard/datatables_format.html' %}

{% load static %}

{% load i18n %}

{% block table_content %}

{#    <div>#}
{#        {% trans "Hide column:" %}#}
{#        <a class="toggle-vis text-primary" data-column="1">V.I.N.</a> -#}
{#        <a class="toggle-vis text-primary" data-column="3">Modèle véhicule</a> -#}
{#        <a class="toggle-vis text-primary" data-column="7">Nom Technicien</a> -#}
{#        <a class="toggle-vis text-primary" data-column="8">Dossier VIP</a> -#}
{#        <a class="toggle-vis text-primary" data-column="9">Express</a>#}
{#    </div>#}
{#    <br>#}

    <table class="table table-bordered" id="xelonTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th class="all">Numéro de dossier</th>
            <th>V.I.N.</th>
            <th class="all">Modèle produit</th>
            <th>Modèle véhicule</th>
            <th>Date Retour</th>
            <th class="all">Type de clôture</th>
            <th>Nom Technicien</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block tablejs %}

    <!-- Page level custom scripts -->
    <script type="text/javascript" src="{% static 'squalaetp/js/xelon-tables.js' %}"></script>

{% endblock %}