{% extends 'format/forms_format.html' %}

{% load i18n %}

{% load static %}

{% block form_content %}

    <div class="p-2">
        <form method="post" action="{% url 'dashboard:config_edit' %}">

            {% csrf_token %}

            <div class="form-group row">
                <label class="sr-only" for="config">Example textarea</label>
                <textarea class="form-control form-cfg text-gray-100" name="config" id="config"
                          rows="{{ nb_lines }}">{{ config|safe }}</textarea>
            </div>

            <button type="submit" name="btn_soft_add"
                    class="col-sm-4 offset-sm-4 align-self-center btn btn-primary btn-block">
                {% trans "Submit" %}
            </button>

        </form>

    </div>

{% endblock %}
