{% load inlinecss %}
{% inlinecss 'css/email.css' %}

    <!DOCTYPE html>
    <html lang="fr">

    <body>

    <table class="table table-bordered text-nowrap">
        <thead>
        <tr>
            <th>Activité</th>
            <th>Dossier</th>
            <th>Modèle</th>
            <th>Date In</th>
            <th>Délai</th>
            <th>Tech</th>

        </tr>
        </thead>
        <tbody>

        {% include 'dashboard/late_product_row.html' with prods=psa total_title='Total PSA' %}

        {% include 'dashboard/late_product_row.html' with prods=ilot_autre total_title='Total Autres' %}

        {% include 'dashboard/late_product_row.html' with prods=clarion total_title='Total Clarion' %}

        {% include 'dashboard/late_product_row.html' with prods=labo_qual total_title='Total LaboQual' %}

        {% include 'dashboard/late_product_row.html' with prods=defaut total_title='Total Defaut' %}

        </tbody>
    </table>

    <p>Cordialement</p>

    <p>CSD Dashboard</p>

    </body>
    </html>

{% endinlinecss %}
