<!-- Heading -->
<div class="sidebar-heading">
    CSD Admin
</div>

{% if user.is_authenticated %}

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHotline"
           aria-expanded="true" aria-controls="collapseHotline">
            <i class="fas fa-fw fa-cog"></i>
            <span>Hotline</span>
        </a>
        <div id="collapseHotline" class="collapse" aria-labelledby="headingHotline" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Informations :</h6>
                <a class="collapse-item" href="#">Hotline</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Edition :</h6>
                <a class="collapse-item" href="#">Ajout</a>
                <a class="collapse-item" href="#">Modification</a>
            </div>
        </div>
    </li>

{% else %}

    <!-- Nav Item - Dossiers clients -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Hotline</span></a>
    </li>


{% endif %}