{% load i18n %}

<!-- Heading -->
<div class="sidebar-heading">
    CSD Atelier
</div>

{% if user.is_authenticated %}

    <!-- Nav Item - Xelon Settings Menu -->
    {% with name="Xelon" icon="fa-table" %}
        <li class="nav-item active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ name }}"
               aria-expanded="true" aria-controls="collapse{{ name }}">
                <i class="fas fa-fw {{ icon }}"></i>
                <span>{{ name }}</span>
            </a>
            <div id="collapse{{ name }}" class="collapse show" aria-labelledby="heading{{ name }}"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Informations :</h6>
                    <a class="collapse-item" href="{% url 'squalaetp:xelon' %}">{% trans "Customer files" %}</a>
                    <a class="collapse-item" href="{% url 'squalaetp:corvet' %}">{% trans "Corvet table" %}</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Edition :</h6>
                    <a class="collapse-item" href="{% url 'squalaetp:corvet_insert' %}">{% trans "Add Corvet data" %}</a>
                    <a class="collapse-item" href="#">{% trans "Add data" %}</a>
                    <a class="collapse-item" href="#">{% trans "Edit data" %}</a>
                </div>
            </div>
        </li>
    {% endwith %}

    <!-- Nav Item - Raspeedi Settings Menu -->
    {% with name="Raspeedi" icon="fa-table" %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ name }}"
               aria-expanded="true" aria-controls="collapse{{ name }}">
                <i class="fas fa-fw {{ icon }}"></i>
                <span>{{ name }}</span>
            </a>
            <div id="collapse{{ name }}" class="collapse" aria-labelledby="heading{{ name }}"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Informations :</h6>
                    <a class="collapse-item" href="{% url 'raspeedi:table' %}">{% trans "Products table" %}</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Edition :</h6>
                    <a class="collapse-item" href="#">{% trans "Add product" %}</a>
                    <a class="collapse-item" href="#">{% trans "Edit product" %}</a>
                </div>
            </div>
        </li>
    {% endwith %}

{% else %}

    <!-- Nav Item - Dossiers clients -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'squalaetp:xelon' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>{% trans "Customer files" %}</span></a>
    </li>

    <!-- Nav Item - tableau Raspeedi -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'raspeedi:table' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>{% trans "Raspeedi table" %}</span></a>
    </li>

{% endif %}