{% extends 'dashboard/datatables_format.html' %}

{% block table_content %}

    <table class="table table-bordered" id="softTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th class="all">JIG</th>
            <th>New Version</th>
            <th>Old Version</th>
            <th class="all">Lien téléchargement</th>
            <th class="all">Status</th>
            <th class="all">Date de validation</th>
            <th>Ajouté le</th>
            <th>Par</th>
            <th class="all"></th>
        </tr>
        </thead>
        <tbody>

        {% for soft in softs %}

            <tr>
                <td>{{ soft.jig }}</td>
                <td>{{ soft.new_version }}</td>
                <td>{{ soft.old_version|default:"--" }}</td>
                <td>{{ soft.link_download }}</td>
                <td>{{ soft.status }}</td>
                <td>{{ soft.validation_date|default:"--" }}</td>
                <td>{{ soft.created_at }}</td>
                <td>{{ soft.created_by }}</td>
                <td><a href="{% url 'dashboard:soft-edit' soft_id=soft.id %}"
                       class="btn btn-success btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
