{% extends 'format/detail_format.html' %}

{% load static i18n %}

{% block detail_content %}

    {% if perms.dashboard.add_weblink %}
        <a href="#" class="create-weblink btn btn-sm btn-primary mb-3">
            <i class="fas fa-plus-square text-white-50"></i> {% trans 'Add web link' %}</a>
    {% endif %}

    {% for link in web_links %}
        <table class="table table-sm table-bordered mb-4">
            <tbody>

            <tr>
                <!--<td class="td-link-picture text-center" rowspan="3"><img src="{{ link.thumbnail.url }}" alt=""/></td>-->
                <td class="td-link-picture align-middle bg-gray-100" rowspan="3">
                    <img src="https://aprc.it/api/160x120/{{ link.url }}" alt=""/></td>
                <td class="text-right bg-gray-100">
                    {% if perms.dashboard.delete_weblink %}
                        <a href="#" class="bs-modal mb-3 mr-2 text-danger"
                           data-form-url="{% url 'dashboard:delete_weblink' link.pk %}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    {% if perms.dashboard.change_weblink %}
                        <a href="#" class="bs-large-modal mb-3"
                           data-form-url="{% url 'dashboard:update_weblink' link.pk %}"><i class="fas fa-edit"></i></a>
                    {% else %}
                        <br>
                    {% endif %}
                </td>
                <!--<td>{{ link.title }}</td>-->
            </tr>
            <tr>
                <td>
                    <table class="table table-sm table-borderless table-responsive">
                        <tbody>
                        <tr>
                            <td class="text-dark" style="width: 10em;">Titre:</td>
                            <td>{{ link.title }}</td>
                        </tr>
                        <tr>
                            <td class="text-dark" style="width: 10em;">Lien:</td>
                            <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
                        </tr>
                        <tr>
                            <td class="text-dark mr-4 text-justify" style="width: 10em;">Description:</td>
                            <td>{{ link.description }}</td>
                        </tr>
                        </tbody>
                    </table>

                </td>
                <!--<td class="text-dark td-link">Lien</td>
                <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
            </tr>
            <tr>
                <td class="text-dark td-link">Description</td>
                <td>{{ link.description }}</td>-->
            </tr>
            </tbody>
        </table>
    {% empty %}
        <p class="empty text-center">Pas liens disponible pour le moment.</p>
    {% endfor %}

{% endblock %}