{% extends 'base.html' %}

{% load i18n widget_tweaks %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-12">
                            <div class="p-5">

                                <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

                                <form class="user" method="post">

                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                                            {% render_field field class="form-control form-control-user" placeholder=field.label %}
                                            <div class="{% if field.errors %} invalid{% endif %}">
                                                {% for error in field.errors %}
                                                    <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <hr>

                                    <input type="submit" class="col-sm-6 offset-sm-3 btn btn-primary btn-user btn-block"
                                           value="{% trans 'Reset my password' %}">

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}