{% extends 'dashboard/base.html' %}

{% block content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <!--<h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>-->
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{{ title }} !</h1>
                                </div>
                                <form class="user" method="post">

                                    {% csrf_token %}

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="id_old_password" name="old_password"
                                               placeholder="Ancien mot de passe"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="id_new_password1" name="new_password1"
                                               placeholder="Nouveau mot de passe">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="id_new_password2" name="new_password2"
                                               placeholder="Confirmation du nouveau mot de passe">
                                    </div>

                                    {% if form.errors %}

                                        {% if form.errors.items|length == 3 %}

                                            <p class="text-danger">
                                                * Vous devez remplir tout les champs
                                            </p>

                                        {% elif form.old_password.errors %}

                                            <p class="text-danger">
                                                * L'ancien mot de passe ne correspond pas à celui de votre compte
                                            </p>

                                        {% else %}

                                            <p class="text-danger">
                                                * Le nouveau mot de passe est invalide
                                            </p>

                                        {% endif %}

                                    {% endif %}

                                    <hr>

                                    <input class="btn btn-primary btn-user btn-block" type="submit"
                                           value="Valider le changement">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}