{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <!-- 403 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="lead text-gray-800 mb-5">{% trans 'Access Forbidden' %}</p>
        <p class="text-gray-500 mb-3">
            {% trans 'You do not have the rights to access this content, please contact the ' %}<a href="mailto:{{ admin_emails }}" target="_blank">{% trans 'administrators' %}</a>
        </p>
        <a href="{% url 'dashboard:index' %}">&larr; {% trans 'Back to Dashboard' %}</a>
    </div>

{% endblock %}