{% extends 'base/_layout.html' %}

{% load i18n tz %}

{% block basecontent %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               href="{% url 'dashboard:index' %}">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CSD Board</div>
            </a>
            <div class="sidebar-heading text-center mb-2">{% trans  'release' %} {{ release }}</div>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {% include 'nav/nav_general.html' %}

            {% include 'nav/nav_csd_atelier.html' %}

            {% include 'nav/nav_reman.html' %}

            {% include 'nav/nav_csd_admin.html' %}

            {% include 'nav/nav_tools.html' %}

            {% include 'nav/nav_interface.html' %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'base/top_bar.html' %}

                {% block messages %}

                    {% include 'base/_messages.html' %}

                {% endblock %}

                <!-- Begin Page Content -->
                <div class="container-fluid mt-4">

                    {% block header %} {% include 'base/_header.html' %} {% endblock %}

                    {% block content %} {% endblock %}

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; <a href="https://github.com/Nels885/csd_dashboard" target="_blank">Lionel VOIRIN</a>
                            for Faurecia Clarion Electronic</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}
