{% load i18n %}

<li class="nav-item {% if select == 'pending' %}active{% endif %}">
    <a class="nav-link {% if select == 'pending' %}active{% endif %}" href="{% url 'dashboard:products' %}?filter=pending">
        {% trans "Pending Products" %}
    </a>
</li>

<li class="nav-item {% if select == 'late' %}active{% endif %}">
    <a class="nav-link {% if select == 'late' %}active{% endif %}" href="{% url 'dashboard:products' %}?filter=late">
        {% trans "Late Products" %}
    </a>
</li>

<li class="nav-item {% if select == 'vip' %}active{% endif %}">
    <a class="nav-link {% if select == 'vip' %}active{% endif %}" href="{% url 'dashboard:vip_prod' %}">
        {% trans "VIP Products" %}
    </a>
</li>

<li class="nav-item {% if select == 'admin' %}active{% endif %}">
    <a class="nav-link {% if select == 'admin' %}active{% endif %}" href="{% url 'dashboard:admin_prod' %}">
        {% trans "Admin Products" %}
    </a>
</li>

<li class="nav-item {% if select == 'tronik' %}active{% endif %}">
    <a class="nav-link {% if select == 'tronik' %}active{% endif %}" href="{% url 'dashboard:products' %}?filter=tronik">
        Autotronik
    </a>
</li>
