<thead class="table-primary">
<tr>
    <th colspan="2" class="collapsed text-dark">
        <a class="card-link collapsed" href="#" data-toggle="collapse" data-target="#{{ id }}"
           aria-expanded="{% if expanded %}true{% else %}false{% endif %}" aria-controls="{{ id }}">
            <i class="fas fa-minus-square mr-2"></i>
            {% if upper_title %}
                <span class="text-uppercase">{{ upper_title }} :</span>
            {% else %}
                <span>{{ thead_title }} :</span>
            {% endif %}
        </a>
    </th>
</tr>
</thead>