<tbody class="collapse {% if show %}show{% endif %}" id="{{ id }}">
<tr>
    <td class="text-dark td-ihm">Référence Comp. Mat.</td>
    <td>{{ object.comp_ref }}</td>
</tr>

{% include 'format/collapse_tr.html' with name="Réf. étiquette" value=object.label_ref %}

<tr>
    <td class="text-dark td-ihm">Modèle</td>
    <td>{{ object.name|default:"???" }}</td>
</tr>
<tr>
    <td class="text-dark td-ihm">Modèle Xelon</td>
    <td>{{ object.xelon_name|default:"???" }}</td>
</tr>

{% include 'format/collapse_tr.html' with name="Complément" value=object.extra %}

{% include 'format/collapse_tr.html' with name="HW" value=object.hw %}

{% include 'format/collapse_tr.html' with name="SW" value=object.sw %}

{% include 'format/collapse_tr.html' with name="Fabriquant" value=object.supplier_oe %}

{% include 'format/collapse_tr.html' with name="Référence PR" value=object.pr_reference %}

{% if object.productcode_set.all %}
    <tr>
        <td class="text-dark td-ihm">Pièces Xelon</td>
        <td>{% for part in object.productcode_set.all %}{{ part.name }}<br>{% endfor %}</td>
    </tr>
{% endif %}
</tbody>