<tbody class="collapse {% if show %}show{% endif %}" id="{{ id }}">
<tr>
    <td class="text-dark td-ihm-40">Référence Comp. Mat.</td>
    <td>{{ object.comp_ref }}</td>
</tr>

{% if object.label_ref and object.label_ref != object.comp_ref %}
    {% include 'format/collapse_tr.html' with name="Réf. étiquette" value=object.label_ref %}
{% endif %}

<tr>
    <td class="text-dark td-ihm-40">Modèle</td>
    <td>{{ object.name|default:"???" }}</td>
</tr>
<tr>
    <td class="text-dark td-ihm-40">Modèle Xelon</td>
    <td>{{ object.xelon_name|default:"???" }}</td>
</tr>

{% include 'format/collapse_tr.html' with name="Complément" value=object.extra %}

{% include 'format/collapse_tr.html' with name="HW" value=object.hw %}

{% include 'format/collapse_tr.html' with name="SW" value=object.sw %}

{% include 'format/collapse_tr.html' with name="Fabriquant" value=object.supplier_oe %}

{% include 'format/collapse_tr.html' with name="Référence PR" value=object.pr_reference %}

{% if object.parts.all %}
    <tr>
        <td class="text-dark td-ihm-40">Pièces Xelon</td>
        <td>{% for part in object.parts.all %}{{ part.name }}<br>{% endfor %}</td>
    </tr>
{% endif %}
</tbody>