{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        {% block card_header %}

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ table_title }}</h6>
            </div>

        {% endblock %}

        <div class="card-body">
            <div class="table-responsive">

                {% block table_content %} {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}

{% block datatablescss %}

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/DataTables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datatables/Responsive/css/responsive.dataTables.min.css' %}"/>

    {% block tablecss %} {% endblock %}

{% endblock %}


{% block datatablesjs %}

    <!-- Page level plugins -->

    <script type="text/javascript" src="{% static 'vendor/datatables/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/DataTables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/Responsive/js/dataTables.responsive.min.js' %}"></script>

    {% block tablejs %} {% endblock %}

{% endblock %}