{% load corvet_tags %}

<table class="table table-bordered table-striped table-sm">

    {% include 'format/collapse_thead.html' with id="collapseDisplay" expanded=collapse.display upper_title="affichage" %}

    <tbody class="collapse {% if collapse.display %}show{% endif %}" id="collapseDisplay">
    <tr>
        <td class="text-dark td-ihm">Réf HW TDB</td>
        <td>
            {{ object.electronique_14k }}
            {% include 'psa/format/tag_parts_format.html' with obj=object.prods.cmb id="cmb" %}
        </td>
    </tr>
    <tr>
        <td class="text-dark td-ihm">SOFT TDB</td>
        <td>{{ object.electronique_94k }}</td>
    </tr>
    <tr>
        <td class="text-dark td-ihm">Réf HW EMF</td>
        <td>
            {{ object.electronique_14l }}
            {% include 'psa/format/tag_parts_format.html' with obj=object.prods.emf id="emf" %}
        </td>
    </tr>
    <tr>
        <td class="text-dark td-ihm">SOFT EMF</td>
        <td>{{ object.electronique_94l }}</td>
    </tr>
    <tr>
        <td class="text-dark td-ihm">N° série EMF</td>
        <td>{{ object.electronique_54l }}</td>
    </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-sm mt-4">

    {% include 'format/collapse_thead.html' with id="collapseAudio" expanded=collapse.audio upper_title="audio" %}

    <tbody class="collapse {% if collapse.audio %}show{% endif %}" id="collapseAudio">
    {% if object.electronique_14f %}
        <tr>
            <td class="text-dark td-ihm">Réf HW RAD</td>
            <td>
                {{ object.electronique_14f }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.radio id="radio" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL RAD</td>
            <td>{{ object.electronique_94f }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série RAD</td>
            <td>{{ object.electronique_44f }}</td>
        </tr>
        {% if object.electronique_64f %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur RAD</td>
                <td>{{ object.electronique_64f|get_supplier_code }}</td>
            </tr>
        {% endif %}
    {% endif %}
    {% if object.electronique_14x %}
        <tr>
            <td class="text-dark td-ihm">Réf HW NAV</td>
            <td>
                {{ object.electronique_14x }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.btel id="btel" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL NAV</td>
            <td>{{ object.electronique_94x }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série NAV</td>
            <td>{{ object.electronique_44x }}</td>
        </tr>
        {% if object.electronique_64x %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur NAV</td>
                <td>{{ object.electronique_64x|get_supplier_code }}</td>
            </tr>
        {% endif %}
    {% endif %}
    {% if object.electronique_1m2 %}
        <tr>
            <td class="text-dark td-ihm">Réf HW IVI</td>
            <td>
                {{ object.electronique_1m2 }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.ivi id="ivi" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL IVI</td>
            <td>{{ object.electronique_3m2 }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série IVI</td>
            <td>{{ object.electronique_4m2 }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Date Fab. IVI</td>
            <td>{{ object.electronique_5m2 }}</td>
        </tr>
        {% if object.electronique_6m2 %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur IVI</td>
                <td>{{ object.electronique_6m2|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="text-dark td-ihm">Ref. 8m2 ? IVI</td>
            <td>{{ object.electronique_8m2 }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Data Library IVI</td>
            <td>{{ object.electronique_xm2 }}</td>
        </tr>
    {% endif %}
    {% if object.electronique_19z %}
        <tr>
            <td class="text-dark td-ihm">Ref. FMUX</td>
            <td>{{ object.electronique_19z }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<table class="table table-bordered table-striped table-sm mt-4">

    {% include 'format/collapse_thead.html' with id="collapseEngine" expanded=collapse.ecu upper_title="moteur" %}

    <tbody class="collapse {% if collapse.ecu %}show{% endif %}" id="collapseEngine">
        <!-- ECU MOTOR -->
        <tr>
            <td class="text-dark td-ihm">Réf HW ECU moteur</td>
            <td>
                {{ object.electronique_14a }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.cmm id="cmm" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL LIVRE ECU moteur</td>
            <td>{{ object.electronique_34a }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL ECU moteur</td>
            <td>{{ object.electronique_94a }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série ECU moteur</td>
            <td>{{ object.electronique_44a }}</td>
        </tr>
        {% if object.electronique_64a %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur moteur</td>
                <td>{{ object.electronique_64a|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <!-- BSM -->
        <tr>
            <td class="text-dark td-ihm">Réf HW BSM</td>
            <td>{{ object.electronique_16b }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL BSM</td>
            <td>{{ object.electronique_96b }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série BSM</td>
            <td>{{ object.electronique_46b }}</td>
        </tr>
        {% if object.electronique_66b %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur BSM</td>
                <td>{{ object.electronique_66b|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <!-- DMTX - Dispositif Maintien Tension -->
        <tr>
            <td class="text-dark td-ihm">Réf HW DMTX</td>
            <td>{{ object.electronique_11q }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL DMTX</td>
            <td>{{ object.electronique_91q }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série DMTX</td>
            <td>{{ object.electronique_41q }}</td>
        </tr>
        {% if object.electronique_61q %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur DMTX</td>
                <td>{{ object.electronique_61q|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <!-- BPGA - Boitier Protection Alimentation Reseau -->
        <tr>
            <td class="text-dark td-ihm">Réf HW BPGA</td>
            <td>{{ object.electronique_11n }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série BPGA</td>
            <td>{{ object.electronique_41n }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Date Fab. BPGA</td>
            <td>{{ object.electronique_51n }}</td>
        </tr>
        {% if object.electronique_61n %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur BPGA</td>
                <td>{{ object.electronique_61n|get_supplier_code }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

<table class="table table-bordered table-striped table-sm mt-4">

    {% include 'format/collapse_thead.html' with id="collapseCockpit" expanded=collapse.cockpit upper_title="habitacle" %}

    <tbody class="collapse {% if collapse.cockpit %}show{% endif %}" id="collapseCockpit">
        <!-- BSI -->
        <tr>
            <td class="text-dark td-ihm">Réf HW BSI</td>
            <td>
                {{ object.electronique_14b }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.bsi id="bsi" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL BSI</td>
            <td>{{ object.electronique_94b }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série BSI</td>
            <td>{{ object.electronique_44b }}</td>
        </tr>
        {% if object.electronique_64b %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur BSI</td>
                <td>{{ object.electronique_64b|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <!-- COM200x -->
        <tr>
            <td class="text-dark td-ihm">Réf HW COM200x</td>
            <td>
                {{ object.electronique_16p }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.hdc id="hdc" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série COM200x</td>
            <td>{{ object.electronique_46p }}</td>
        </tr>
        {% if object.electronique_66p %}
            <tr>
                <td class="text-dark td-ihm">Fournisseur COM200x</td>
                <td>{{ object.electronique_66p|get_supplier_code }}</td>
            </tr>
        {% endif %}
        <!-- VMF -->
        <tr>
            <td class="text-dark td-ihm">Réf HW VMF</td>
            <td>{{ object.electronique_11m }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-sm mt-4">

    {% include 'format/collapse_thead.html' with id="collapseSecu" expanded=collapse.security upper_title="sécurité" %}

    <tbody class="collapse {% if collapse.security %}show{% endif %}" id="collapseSecu">
        <!-- ASS -->
        <tr>
            <td class="text-dark td-ihm">Réf HW boitier AAS</td>
            <td>{{ object.electronique_14r }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL boitier AAS</td>
            <td>{{ object.electronique_94r }}</td>
        </tr>
        <!-- AIR BAG -->
        <tr>
            <td class="text-dark td-ihm">Réf HW Boitier Air Bag</td>
            <td>{{ object.electronique_14m }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL Boitier Air Bag</td>
            <td>{{ object.electronique_94m }}</td>
        </tr>
        <!-- RAIN SENSOR -->
        <tr>
            <td class="text-dark td-ihm">Réf HW Capteur pluie</td>
            <td>{{ object.electronique_16g }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL Capteur pluie</td>
            <td>{{ object.electronique_96g }}</td>
        </tr>
        <!-- MULTIFUNCTION CAM -->
        <tr>
            <td class="text-dark td-ihm">Réf HW CVM 2</td>
            <td>
                {{ object.electronique_12y }}
                {% include 'psa/format/tag_parts_format.html' with obj=object.prods.cvm2 id="cvm2" %}
            </td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL CVM 2</td>
            <td>{{ object.electronique_92y }}</td>
        </tr>
        <!-- ARTIV -->
        <tr>
            <td class="text-dark td-ihm">Réf HW ARTIV</td>
            <td>{{ object.electronique_19k }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">CAL ARTIV</td>
            <td>{{ object.electronique_99k }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">N° série ARTIV</td>
            <td>{{ object.electronique_49k }}</td>
        </tr>
        <!-- ABS/EPS -->
        {% with label="boitier ABS/ESP" %}
            <tr>
                <td class="text-dark td-ihm">Réf HW {{ label }}</td>
                <td>{{ object.electronique_14p }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL LIVRE {{ label }}</td>
                <td>{{ object.electronique_34p }}</td>
            </tr>
            <tr>
                <td class="text-dark td-ihm">CAL {{ label }}</td>
                <td>{{ object.electronique_94p }}</td>
            </tr>
        {% endwith %}
    </tbody>
</table>