{% if object %}

    <table class="table table-bordered table-striped table-sm mt-4">

        {% include 'format/collapse_thead.html' with id="collapseEmf" expanded=collapse.emf thead_title="ECRAN MULTIFONCTION :" %}

        <tbody class="collapse {% if collapse.emf %}show{% endif %}" id="collapseEmf">
        <tr>
            <td class="text-dark td-ihm">Référence Comp. Mat.</td>
            <td>{{ object.comp_ref }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Modèle</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">HW</td>
            <td>{{ object.hw }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">SW</td>
            <td>{{ object.sw }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Fabriquant</td>
            <td>{{ object.supplier_oe }}</td>
        </tr>
        <tr>
            <td class="text-dark td-ihm">Réference PR</td>
            <td>{{ object.pr_reference }}</td>
        </tr>
        </tbody>
    </table>

{% endif %}