<table class="table table-bordered table-striped table-sm mt-4">

    {% include 'format/collapse_thead.html' with id="collapseMedia" expanded=collapse.media upper_title="multimédia" %}

    <tbody class="collapse {% if collapse.media %}show{% endif %}" id="collapseMedia">
    <tr>
        <td class="text-dark td-ihm-40">Référence Comp. Mat.</td>
        <td>{{ object.comp_ref|default:"???" }}</td>
    </tr>
    {% if object.label_ref and object.label_ref != object.comp_ref|stringformat:"s" %}
        <tr>
            <td class="text-dark td-ihm-40">Réf. étiquette</td>
            <td>{{ object.label_ref }}</td>
        </tr>
    {% endif %}
    <tr>
            <td class="text-dark td-ihm-40">Fichier Cal.</td>
            <td class="text-white {% if btel_cal %}bg-success{% else %}bg-danger{% endif %}">{{ btel_cal|default:"N/A" }}</td>
    </tr>
    <tr>
        <td class="text-dark td-ihm-40">Modèle</td>
        <td>{{ object.get_name_display|default:"???" }}</td>
    </tr>
    <tr>
        <td class="text-dark td-ihm-40">Modèle Xelon</td>
        <td>{{ object.xelon_name|default:"???" }}</td>
    </tr>
    {% if object.level %}
        <tr>
            <td class="text-dark td-ihm-40">Niveau</td>
            <td>{{ object.level }}</td>
        </tr>
    {% endif %}
    {% if object.extra %}
        <tr>
            <td class="text-dark td-ihm-40">Supplément</td>
            <td>{{ object.extra }}</td>
        </tr>
    {% endif %}
    {% if object.emmc %}
        <tr>
            <td class="text-dark td-ihm-40">Réf. eMMC</td>
            <td>{{ object.emmc }}</td>
        </tr>
    {% endif %}
    {% if object.supplier_oe %}
        <tr>
            <td class="text-dark td-ihm-40">Fabriquant</td>
            <td>{{ object.supplier_oe }}</td>
        </tr>
    {% endif %}
    {% if object.type %}
        <tr>
            <td class="text-dark td-ihm-40">Type</td>
            <td>{{ object.get_type_display }}</td>
        </tr>
    {% endif %}
    {% if object.name %}
        <tr>
            <td class="text-dark td-ihm-40">Options</td>
            <td>DAB: {% if object.dab %}Oui{% else %}Non{% endif %}<span class="m-2">/</span>CAM recul: {% if object.cam %}Oui{% else %}Non{% endif %}</td>
        </tr>
    {% endif %}
    {% if object.jukebox %}
        <tr>
            <td class="text-dark td-ihm-40">Jukebox</td>
            <td>{% if object.jukebox %}Oui{% else %}Non{% endif %}</td>
        </tr>
    {% endif %}
    {% if object.carplay %}
        <tr>
            <td class="text-dark td-ihm-40">CarPlay</td>
            <td>{% if object.carplay %}Oui{% else %}Non{% endif %}</td>
        </tr>
    {% endif %}
    {% if object.media %}
        <tr>
            <td class="text-dark td-ihm-40">Média</td>
            <td>{{ object.get_media_display }}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-dark td-ihm-40">Connecteurs</td>
        <td>
            LVDS: {{ object.lvds_con|default:"?" }}<span class="m-2">/</span>ANT: {{ object.ant_con|default:"?" }}<span class="m-2">/</span>USB: {{ object.usb_con|default:"?" }}
        </td>
    </tr>
    {% if object.parts.all %}
        <tr>
            <td class="text-dark td-ihm-40">Pièces Xelon</td>
            <td>{% for part in object.parts.all %}{{ part.name }}<br>{% endfor %}</td>
        </tr>
    {% endif %}
    </tbody>
</table>