<div class="row m-1 border justify-content-center">
    {% for obj in vmf_list %}
        <button class="btn btn-primary btn-lg col-lg-4 m-2 text-uppercase nowrap" onclick="sendString('{{ obj.getcan }}')">{{ obj.label }}</button>
    {% empty %}
        <div class="d-flex w-100 mh-100 align-items-center text-center" style="min-height: 200px;">
            <h4 class="col-12 font-weight-bold text-uppercase text-gray-500">Pas de commandes disponible</h4>
        </div>
    {% endfor %}
</div>