{% extends 'format/detail_format.html' %}

{% load static i18n widget_tweaks %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'import_export/tab_select.html' with select='csd' %}

        </ul>
    </div>

{% endblock %}

{% block detail_content %}

    <h3 class="mb-4 mt-3 text-gray-800">Exportation des données CORVET :</h3>

    <form id="export-corvet" method="post" action="">

        {% csrf_token %}

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.brand %}
            <div class="col-sm-2">
                {% render_field form.brand class="custom-select form-control" %}
            </div>
            {% include 'format/label_form_group.html' with field=form.product %}
            <div class="col-sm-2">
                {% render_field form.product class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.hw_reference %}
            <div class="col-sm-2">
                {% render_field form.hw_reference class="form-control" %}
            </div>
            {% include 'format/label_form_group.html' with field=form.vehicle %}
            <div class="col-sm-3">
                {% render_field form.vehicle class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.xelon_vehicle %}
            <div class="col-sm-2">
                {% render_field form.xelon_vehicle class="form-control" %}
            </div>
            {% include 'format/label_form_group.html' with field=form.xelon_model %}
            <div class="col-sm-3">
                {% render_field form.xelon_model class="form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.vins %}
            <div class="col-sm-5">
                {% render_field form.vins class="form-control" rows=8 %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.start_date %}
            <div class="col-sm-2">
                {% render_field form.start_date class="form-control" %}
            </div>

            {% include 'format/label_form_group.html' with field=form.end_date %}
            <div class="col-sm-2">
                {% render_field form.end_date class="form-control" %}
            </div>
        </div>

        <hr class="col-8 mt-4">
        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.info_cols %}
            <div class="col-sm-10">
                {% for col in form.info_cols %}
                    <div class="form-check-inline col-sm-2">{{ col }}</div>
                {% endfor %}
            </div>
        </div>
        <hr class="col-8">
        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.engine_cols %}
            <div class="col-sm-10">
                {% for col in form.engine_cols %}
                    <div class="form-check-inline col-sm-2">{{ col }}</div>
                {% endfor %}
            </div>
        </div>
        <hr class="col-8">
        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.interior_cols %}
            <div class="col-sm-10">
                {% for col in form.interior_cols %}
                    <div class="form-check-inline col-sm-2">{{ col }}</div>
                {% endfor %}
            </div>
        </div>
        <hr class="col-8">
        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.security_cols %}
            <div class="col-sm-10">
                {% for col in form.security_cols %}
                    <div class="form-check-inline col-sm-2">{{ col }}</div>
                {% endfor %}
            </div>
        </div>
        <hr class="col-8">

        <div class="form-group row mt-4">
            {% include 'format/label_form_group.html' with field=form.excel_type %}
            <div class="col-sm-2">
                {% render_field form.excel_type class="custom-select form-control" %}
            </div>
            {% include 'format/label_form_group.html' with field=form.tag %}
            <div class="col-sm-3">
                {% render_field form.tag class="form-control" %}
            </div>
        </div>

        <div class="form-group row">
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
                </button>
            </div>
        </div>
    </form>

    {% include 'format/progress_bar.html' with name='export-corvet' %}

    <hr>

    <h3 class="mb-4 mt-5 text-gray-800">Importation des données CORVET par liste de V.I.N. :</h3>

    <form id="import-corvet-vin" method="post" action="">

        {% csrf_token %}

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_vin.corvet_tag %}
            <div class="col-sm-3">
                {% render_field form_vin.corvet_tag class="form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_vin.vin_list %}
            <div class="col-sm-5">
                {% render_field form_vin.vin_list class="form-control" rows=8 %}
            </div>
        </div>


        <div class="form-group row">
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Import" %}</span>
                </button>
            </div>
        </div>

    </form>

    {% include 'format/progress_bar.html' with name='import-corvet-vin' %}

{% endblock %}

{% block extrascripts %}

    <script type="application/javascript">
        CORVET_URL = "{% url 'import_export:csd_async' %}";
        IMPORT_CORVET_URL = "{% url 'import_export:import_corvet_vin' %}";
    </script>
    <script src="{% static 'import_export/js/tasks.js' %}" type="application/javascript"></script>

{% endblock %}
