{% extends 'format/detail_format.html' %}

{% load static i18n widget_tweaks %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">

            {% include 'import_export/tab_select.html' with select='tools' %}

        </ul>
    </div>

{% endblock %}

{% block detail_content %}

        <h3 class="mb-4 mt-3 text-gray-800">Exportation des données SUPTECH:</h3>

    <form id="export-suptech" method="post" action="">

        {% csrf_token %}

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_suptech.category %}
            <div class="col-sm-2">
                {% render_field form_suptech.category class="custom-select form-control" %}
            </div>
            {% include 'format/label_form_group.html' with field=form_suptech.is_48h %}
            <div class="col-sm-2">
                {% render_field form_suptech.is_48h class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_suptech.start_date %}
            <div class="col-sm-2">
                {% render_field form_suptech.start_date class="form-control" %}
            </div>

            {% include 'format/label_form_group.html' with field=form_suptech.end_date %}
            <div class="col-sm-2">
                {% render_field form_suptech.end_date class="form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_suptech.date_delta %}
            <div class="col-sm-2">
                {% render_field form_suptech.date_delta class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group mt-4 mb-4 row">
            {% include 'format/label_form_group.html' with field=form_suptech.columns %}
            <div class="col-sm-10">
                {% for col in form_suptech.columns %}
                    <div class="form-check-inline col-sm-2">{{ col }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_suptech.excel_type %}
            <div class="col-sm-2">
                {% render_field form_suptech.excel_type class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-icon-split" name="suptech-btn">
                    <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
                </button>
            </div>
        </div>
    </form>

    {% include 'format/progress_bar.html' with name='export-suptech' %}

    <hr>

    <h3 class="mb-4 mt-3 text-gray-800">Exportation des données :</h3>

    <form id="export-tools" method="post" action="">

        {% csrf_token %}

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.excel_type %}
            <div class="col-sm-2">
                {% render_field form.excel_type class="custom-select form-control" %}
            </div>

            {% include 'format/label_form_group.html' with field=form.table %}
            <div class="col-sm-2">
                {% render_field form.table class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form.date_delta %}
            <div class="col-sm-2">
                {% render_field form.date_delta class="custom-select form-control" %}
            </div>

        </div>

        <div class="form-group row">
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-icon-split" name="tools-btn">
                    <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
                </button>
            </div>
        </div>
    </form>

    {% include 'format/progress_bar.html' with name='export-tools' %}

    <hr>

    <h3 class="mb-4 mt-3 text-gray-800">Exportation des calibrations :</h3>

    <form id="export-cals" method="post" action="">

        {% csrf_token %}

        <div class="form-group row">
            {% include 'format/label_form_group.html' with field=form_cal.excel_type %}
            <div class="col-sm-2">
                {% render_field form_cal.excel_type class="custom-select form-control" %}
            </div>

            {% include 'format/label_form_group.html' with field=form_cal.btel_type %}
            <div class="col-sm-2">
                {% render_field form_cal.btel_type class="custom-select form-control" %}
            </div>
        </div>

        <div class="form-group row">
            <div class="col text-center mt-4">
                <button type="submit" class="btn btn-success btn-icon-split" name="cals-btn">
                    <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
                </button>
            </div>
        </div>
    </form>

    {% include 'format/progress_bar.html' with name='export-cals' %}

{% endblock %}

{% block extrascripts %}

    <script type="application/javascript">
        TOOLS_URL = "{% url 'import_export:tools_async' %}";
    </script>
    <script src="{% static 'import_export/js/tasks.js' %}" type="application/javascript"></script>

{% endblock %}