{% load i18n widget_tweaks %}

<h3 class="mb-4 mt-3 text-gray-800">Exportation des données CORVET :</h3>

<form id="export-corvet" method="post" action="">

    {% csrf_token %}

    <div class="form-group row">
        <label for="{{ form_corvet.formats.id_for_label }}" class="col-form-label col-sm-2">Format :</label>
        <div class="col-sm-2">
            {% render_field form_corvet.formats class="custom-select form-control" %}
        </div>
        <label for="{{ form_corvet.products.id_for_label }}" class="col-form-label col-sm-1">Produit :</label>

        <div class="col-sm-2">
            {% render_field form_corvet.products class="custom-select form-control" %}
        </div>
        <div class="col-sm-auto">
            <button type="submit" class="btn btn-success btn-icon-split mb-2">
                <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
            </button>
        </div>

    </div>
</form>

{% include 'format/progress_bar.html' with name='corvet' %}

<hr>

<h3 class="mb-4 mt-5 text-gray-800">Exportation des données ECU par liste de V.I.N. :</h3>

<form id="export-corvet-vin" method="post" action="">

    {% csrf_token %}

    <div class="form-group row">
        <label for="{{ form_corvet_vin.vin_list.id_for_label }}" class="col-form-label col-sm-2">{{ form_corvet_vin.vin_list.label }}</label>
        <div class="col-sm-5">
            {% render_field form_corvet_vin.vin_list class="form-control" rows=8 %}
        </div>
        <div class="col-sm-auto">
            <button type="submit" class="btn btn-success btn-icon-split mb-2">
                <span class="icon text-white-50"><i class="fas fa-file-download"></i></span><span class="text">{% trans "Data Export" %}</span>
            </button>
        </div>
    </div>

</form>

{% include 'format/progress_bar.html' with name='corvet-vin' %}

<hr>