{% extends 'format/detail_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="detail-list" role="tablist">

            <li class="nav-item active">
                <a class="nav-link active" href="#csd" role="tab" aria-controls="csd" aria-selected="true">
                    CSD Atelier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reman" role="tab" aria-controls="reman" aria-selected="false">
                    REMAN
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tools" role="tab" aria-controls="tools" aria-selected="false">
                    Outils
                </a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block customcss %}

    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block detail_content %}

    <div class="tab-content mt-3">

        <!-- Detail CSD Workshop -->
        <div class="tab-pane active" id="csd" role="tabpanel" aria-labelledby="csd-tab">

            {% include 'import_export/detail_csd.html' %}

        </div>

        <!-- Detail REMAN -->
        <div class="tab-pane" id="reman" role="tabpanel" aria-labelledby="reman-tab">

            {% include 'import_export/detail_reman.html' %}

        </div>

        <!-- Detail Tools -->
        <div class="tab-pane" id="tools" role="tabpanel" aria-labelledby="tools-tab">

            {% include 'import_export/detail_tools.html' %}

        </div>
    </div>

{% endblock %}

{% block customjs %}

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    <script type="application/javascript">
        $(function () {
            runExportData = () => {
                $.ajax({
                    type: "GET",
                    url: "{% url 'import_export:export' %}",
                    success: (res) => {
                        getProgress(
                            res.task_id,
                            progressBarId = "export-progress-bar",
                            progressBarMessageId = "export-progress-message",
                            isDownloadFile = true
                        )
                    },
                    error: (err) => {
                        console.log(err);
                    },
                })
            }

            getProgress = (taskId, progressBarId, progressBarMessageId, isDownloadFile = false) => {
                var progressUrl = `{% url 'progress' %}?task_id=${taskId}`;

                function onExportUserProgress(progressBarElement, progressBarMessageElement, progress) {
                    progressBarMessageElement.innerHTML = `Progress ${progress.percent}% . . .`
                    progressBarElement.setAttribute("style", `width: ${progress.percent}%`)
                    progressBarElement.setAttribute("aria-valuenow", progress.percent)
                }

                function onExportUserSuccess(progressBarElement, progressBarMessageElement, result) {
                    alert("Complete progress 100%")
                    progressBarMessageElement.innerHTML = "Waiting event . . ."
                    progressBarElement.setAttribute("style", "width: 0%")
                    progressBarElement.setAttribute("aria-valuenow", 0)
                    if (isDownloadFile) window.open(`{% url 'download' %}?task_id=${taskId}`, '_blank');
                }

                CeleryProgressBar.initProgressBar(progressUrl, {
                    progressBarId: progressBarId,
                    progressBarMessageId: progressBarMessageId,
                    onProgress: onExportUserProgress,
                    onSuccess: onExportUserSuccess,
                })
            }
        });
    </script>

{% endblock %}
