{% extends 'format/detail_format.html' %}

{% load static i18n %}

{% block card_header %}

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="detail-list" role="tablist">

            <li class="nav-item active">
                <a class="nav-link active" href="#csd" role="tab" aria-controls="csd" aria-selected="true">
                    CSD Atelier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reman" role="tab" aria-controls="reman" aria-selected="false">
                    REMAN
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tools" role="tab" aria-controls="tools" aria-selected="false">
                    Outils
                </a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block customcss %}

    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

{% endblock %}

{% block detail_content %}

    <div class="tab-content mt-3">

        <!-- Detail CSD Workshop -->
        <div class="tab-pane active" id="csd" role="tabpanel" aria-labelledby="csd-tab">

            {% include 'import_export/detail_csd.html' %}

        </div>

        <!-- Detail REMAN -->
        <div class="tab-pane" id="reman" role="tabpanel" aria-labelledby="reman-tab">

            {% include 'import_export/detail_reman.html' %}

        </div>

        <!-- Detail Tools -->
        <div class="tab-pane" id="tools" role="tabpanel" aria-labelledby="tools-tab">

            {% include 'import_export/detail_tools.html' %}

        </div>
    </div>

{% endblock %}

{% block extrascripts %}

    <script type="application/javascript">
        CORVET_URL = "{% url 'import_export:export_corvet' %}";
        CORVET_VIN_URL = "{% url 'import_export:export_corvet_vin' %}";
        REMAN_URL = "{% url 'import_export:export_reman' %}";
        TOOLS_URL = "{% url 'import_export:export_tools' %}";
    </script>
    <script src="{% static 'import_export/js/tasks.js' %}" type="application/javascript"></script>

{% endblock %}
