{% load i18n %}

<div class="sidebar-heading">
    Interface
</div>

{% if not user.is_authenticated %}

    <!-- Nav Item - login -->
{#    <li class="nav-item">#}
{#        <a class="login-btn nav-link" href="#">#}
{#            <i class="fas fa-fw fa-user"></i>#}
{#            <span>{% trans "Login" %}</span>#}
{#        </a>#}
{#    </li>#}

    <!-- Nav Item - login -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
            <i class="fas fa-fw fa-user"></i>
            <span>{% trans "Login" %}</span>
        </a>
    </li>

    <!-- Nav Item - Sign Up -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-sign-in-alt"></i>
            <span>{% trans "SignUp" %}</span>
        </a>
    </li>

{% else %}

    <!-- Nav Item - login -->
    <li class="nav-item">
        <a class="logout-btn nav-link" href="#">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>{% trans "Logout" %}</span>
        </a>
    </li>

{% endif %}