{% load i18n %}

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:charts' %}">
        <i class=" fas fa-fw fa-tachometer-alt"></i><span>{% trans "Dashboard" %}</span>
    </a>
</li>

<!-- Nav Item - Thermal Chamber -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'tools:thermal' %}">
        <i class="fas fa-fw fa-thermometer"></i><span>{% trans "Thermal chamber" %}</span>
    </a>
</li>

<!-- Nav Item - Tool info -->
<li class="nav-item">
    <a class="nav-link" href="{% url 'prog:tool_status' %}" target="_blank">
        <i class="fas fa-fw fa-desktop"></i><span>Outils</span>
    </a>
</li>

{% if user.is_authenticated %}
    <!-- Nav Item - Other links -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:other_links' %}">
            <i class="fas fa-fw fa-link"></i><span>{% trans "Other links" %}</span>
        </a>
    </li>

    <!-- Nav Item - Extraction -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'import_export:csd_async' %}" target="_blank">
            <i class="fas fa-fw fa-sync-alt"></i><span>Extraction</span>
        </a>
    </li>
{% endif %}

<!-- Divider -->
<hr class="sidebar-divider">