{% load i18n %}

{% if perms.reman.add_batch %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        CSD Gestion
    </div>

    <!-- Nav Item - Reman Settings Menu -->
    {% with name="remanGestion" icon="fa-table" %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ name }}"
               aria-expanded="true" aria-controls="collapse{{ name }}">
                <i class="fas fa-fw {{ icon }}"></i>
                <span>Reman</span>
            </a>
            <div id="collapse{{ name }}" class="collapse" aria-labelledby="heading{{ name }}"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Administration :</h6>
                    <a class="batch-btn collapse-item" href="#">{% trans "Create Batch" %}</a>
                    <a class="collapse-item" href="{% url 'reman:batch_table' %}">{% trans "batch list" %}</a>
                    <a class="collapse-item" href="{% url 'reman:import_export' %}">{% trans "Import-Export" %}</a>
                </div>
            </div>
        </li>
    {% endwith %}

{% endif %}